[2015-10-21 13:25] losogudok opened #2 "Move dependencies to peerDependencies"
After installing this package you will get another copy of react which is not what you want.

[2015-10-21 15:34] mbrookes commented on #2
Try now.

[2015-10-21 17:32] mvandiest opened #3 "Validation breaks when setting initial state."
Maybe there is some other way to do this, but I'm having the following problem...

Using `valueLink` breaks validation as it does not go through formsy's getValue() behavior. If you attempt to pass a `value` prop, as you normally would with formsy, then that prop is spread down to the material-ui component and bypasses formsy's getValue() behavior as well.

I'm in a crunch so I don't have time to

[2015-10-21 17:54] mbrookes commented on #3
I have to confess I hadn't come across valueLink - it doesn't appear to be documented other than appearing in a couple of examples.

The only form components that support it are textfield, datepicker, checkbox and toggle (and also textarea / enhanced-textarea, but both of those are completely undocumented, so not sure if they're supported features, so aren't included in this library yet).

If you

[2015-10-21 20:52] mbrookes opened #4 "[FormsySelect] inconsistent behavior"
Often can't be selected by mouse, up/down keys don't cycle through selection when the dropdown isn't open.

[2015-10-21 20:54] mbrookes opened #5 "[FormsySelect] 'required' is not being enforced"
It does correctly affect canSubmit state, but not the field itself.

[2015-10-22 03:40] sys13 opened #6 "[FormsyText] Validating onBlur doesn't enable the submit button if this is the last field before submit."
If a user fills out a textfield as the last required input, with onBlur the submit button isn't enabled unless the user clicks away from the field. With onChange this problem would likely be resolved.

WIth onChange we can also validate urls in real-time without waiting until they click away, forcing them to re-click on the field.

I can see why with URLs you might want to wait until they have fin

[2015-10-22 03:52] sys13 opened #7 "Having validationError set without 'required' shows error text all the time"
![2015-10-22 11 45 38](https://cloud.githubusercontent.com/assets/1377089/10656567/a4bd7822-78b2-11e5-926f-6084e7faf3f6.png)

Might want to only set `errorText` on the TextField if `this.showError` is true.

[2015-10-22 04:20] sys13 commented on #7
It also disables the submit button.

[2015-10-22 13:19] mbrookes commented on #6
Hmm... validation was originally onChange, but this meant you would get validation errors while typing (particularly annoying URLs, email address or other regex style validations), so changed to onBlur, but hadn't considered what would happen if the textfield was the last field.

I can see three possible solutions (without considering implementation details for the first two):

Allow the user to h

[2015-10-22 15:05] sys13 commented on #6
I don't like the hitting enter idea. Adding a delay might work with a throttled version of the function (maybe using http://underscorejs.org/#throttle). onChange would be the simplest. I've seen this behaviour on other websites and the noise kind of acts like hint text.

[2015-10-22 20:43] mbrookes commented on #6
I think it would be debounce rather than throttle, but I'm not keen on pulling in all of underscore just for one function, so would probably implement natively (or copy in the relevant code).

[2015-10-22 21:36] dmlinn commented on #6
A simple fix might be to default inputs to validate onChange (particularly for fields that are required but have no other validation), and set some sort of prop to validate onBlur if needed (for fields like email). I do appreciate the onBlur functionality, as I was duplicating FormsyText and adding it myself before the update.

Another more complex fix might be to implement a showErrorOn prop or s

[2015-10-22 23:06] mbrookes commented on #6
A prop to make the validation event configurable for either onChange or onBlur makes certain sense, that way whitelist type validations (such as isWords, isNumeric) can complain as soon as an illegal characters are typed, but pattern-matching validations such as isUrl can be configured to only fire on onBlur.

However, the problem of an invalid onBlur input in the last field not enabling a submit

[2015-10-22 23:58] mbrookes commented on #7
Odd, I didn't think formsy was supposed to return an error on a "pristine" form element (one that hasn't been edited).

[2015-10-26 21:28] vijayrawatsan commented on #6
Not entirely related but this might help...
https://github.com/christianalfoni/formsy-react/issues/180

[2015-10-26 21:37] mbrookes commented on #6
Thank, yes, I had seen that. I believe a choice of validation events is the best compromise, accepting that validating the last field onBlur, and having the submit button disabled by default is mutually exclusive (unless I'm missing some other capability of Formsy).

I hope to have some time to revisit this in the next week or two. PRs always welcome in the meantime! :)

[2015-10-28 11:38] vijayrawatsan opened #9 "Prefilling or Initializing does not work using this.ref.form.reset(model)"
I am using formsy-react 0.14.1 & formsy-material-ui 0.2.2
[code]
When I submit I could see asd and asd@asd.com, but I can not see the value in the form itself.

[2015-10-28 15:00] mbrookes commented on #9
Thanks for letting me know - there are quite a few of these sorts of issues outside of the basic use case. I hope to get some time to review them over the next week or two, but if you had an opportunity to look at this particular issue, and let me now what you think the cause is, that would be a great help.

[2015-10-28 17:53] vijayrawatsan commented on #9
This seems to have fixed the issue for textfield.
https://github.com/mbrookes/formsy-material-ui/pull/10
If you think this is a good fix. Please do merge it and create a release. So that I could pull the latest repo from npm.

Thanks

[2015-10-29 07:14] #9 closed

[2015-10-29 07:15] vijayrawatsan opened #11 "Update 0.2.3 tag on npm"
@mbrookes Please update latest tag  0.2.3 on npm.

Thanks

[2015-10-29 10:35] mbrookes commented on #11
Version bumped in packages.json, README updated, published to npm. I didn't force reset the tag with these changes.

[2015-10-29 11:45] mbrookes commented on #2
Closing as non-responsive.

https://github.com/mbrookes/formsy-material-ui/commit/4204def0a85b496889b217f7395662a67dd10f07

[2015-10-29 11:45] #2 closed

[2015-10-29 17:31] vijayrawatsan commented on #11
@mbrookes I did a mistake in v0.2.3. I have fixed that mistake and applied this approach
https://github.com/christianalfoni/formsy-react/wiki/validate-on-blur
in following pr. Please have a look and let me know if I can merge.
https://github.com/mbrookes/formsy-material-ui/pull/12

Thanks

[2015-10-29 18:32] dmlinn commented on #4
Changing:
  handleChange: function (event) {
    this.setValue(event.currentTarget.value);
  },
to:
  handleChange: function (event) {
    this.setValue(event.target.value);
  },
fixes the issue with mouse selection. Apparently clicking on the span in the option returns with a currentTarget of null.

[2015-10-30 00:30] mbrookes commented on #11
@vijayrawatsan Can you briefly explain what broke, and how this fixes it? Thanks.

[2015-10-30 00:31] mbrookes commented on #4
Nice, thanks!

[2015-10-30 07:39] vijayrawatsan commented on #11
What broke?
Basically my previous commit added value={this.getValue() to FormsyText which was earlier ommited and looked the right thing to do(https://github.com/christianalfoni/formsy-react/pull/117).
Issue was there due to onBlur,
formsy-material-ui FormsyText uses onBlur instead of onChange. Due to this after the first onBlur on any inputtext I was not able to change the value of that text fiel

[2015-10-30 11:09] vijayrawatsan opened #14 "Update formsy-react version to 0.17.0"

[2015-10-30 11:53] mbrookes commented on #14
packages.json already allows formsy-react 0.17:

[code]
 You just have to specify it in your parent project. If we force a dependancy on 0.17 here, it prevents the use of React 0.13.x, and not everything supports React 0.14 yet.

[2015-10-30 12:22] mbrookes opened #15 "[Tests] Automated test suite needed"
Supporting all of formsy's options in conjunction with material-ui is becoming increasingly complex for such a small project. An automated test suite would maybe help, although it could itself become more complex than the code it's testing.

Thoughts?

[2015-10-30 12:56] vijayrawatsan commented on #14
Yep. Forgot to see that. :+1:

[2015-10-30 12:56] #14 closed

[2015-10-30 13:13] mvandiest commented on #15
+1

[2015-10-30 14:43] mbrookes commented on #11
Closing this since npm is updated (albeit with a broken version). FWIW it originally had `value={this.getValue(0}` when validation was onChange, but it subsequently appeared redundant. Clearly that wasn't the case! :)

We can move the discussion to the relevant PR.

[2015-10-30 14:43] #11 closed

[2015-11-01 22:18] funkybunky opened #16 "v0.2.3: Cannot edit already visited input fields"
I'm having multiple `FormsyText` components and basically just following the example. Reproduction:
- Enter input field
- Type something (or even don't)
- Click onto something else
- Re-visit the field
- Try to edit the field, doesn't change anything

So, as a user, I'm stuck with whatever I've written into the input the first time I visited it.
Any ideas what could cause that issue?
I'm using ES6

[2015-11-01 22:36] mbrookes commented on #16
It may be related to ES6 class syntax not supporting mixins?

[2015-11-01 23:08] funkybunky commented on #16
Thanks for the fast response!
Just tried it out using the regular syntax, but the problems persists.

[2015-11-01 23:42] mbrookes commented on #16
Ah, sorry, this is due to a change that was introduced in 0.2.3 to try to fix a different issues. Please use 0.2.2 for now until we get it fixed, but you might run into some of the  other limitations.

[2015-11-02 00:02] funkybunky commented on #16
Okay. It works at 0.2.2
Thanks for the help!
I'll leave the issue open for helping others who run into the same issue until it is fixed at the latest version.

[2015-11-02 00:11] funkybunky opened #18 "Date-Picker slow performance"
After opening the modal of FormsyDate, there is a ~1s delay until the date-picker becomes responsive.
Also after clicking on a date, there is another ~1s delay until the corresponding date gets shown as text in modal header (example: clicking on 13, wait, "Fri,Nov 13" is shown in the header)
Any ideas what could cause these delays/ performance issues?

[2015-11-02 01:06] mbrookes commented on #18
How well does the Material-UI date picker perform on the same system outside of Formsy / fmui? The date picker is slow, but not that slow! Try setting an explicit date range.

[2015-11-02 15:13] funkybunky commented on #18
I set the date range smaller (14months) and the picker now performs quite well. Thanks!
If you accept it, I would make a PR and add it to the readme (perhaps under "Known Issues"?) and even update the example code accordingly. Are you okay with that?

[2015-11-02 15:52] mbrookes commented on #18
Well, it isn't an issue with formsy-material-ui per-se, so not sure it belongs in issues, but it would be a good idea to update the example since this is an undocumented best practice for Material-UI, and a code comment could highlight the issue. You might like to update the MAterial-UI docs too! :wink:

[2015-11-02 16:20] #6 closed

[2015-11-02 16:31] mbrookes commented on #16
Fixed in #19.

[2015-11-02 19:45] mbrookes commented on #4
Fixed by #13. Thanks!

[2015-11-02 19:45] #4 closed

[2015-11-03 05:41] sys13 opened #21 "Setting defaultValue still shows hint/floatingLabelText"
I'm trying to show a defaultValue. However, if hintText or floatingLabelText is set they will overlay over the defaultValue.

Using these versions:
[code]

[2015-11-03 12:33] mbrookes commented on #21
@vijayrawatsan - looks like this was introduced in 0.2.3, and remains in 0.2.4. Could you take a look please when you get a chance? Thanks.

[2015-11-03 12:43] vijayrawatsan commented on #21
@sys13 how are you setting defaultValue can you give me an example. I will try that example with 2.2 2.3 and 2.4.
Will try to figure out what changed. Can't commit to work on this asap as I am running on some deadlines. But will surely run this on my background thread :wink:

[2015-11-03 13:20] mbrookes commented on #21
Something like:
[code]

[2015-11-03 13:27] funkybunky commented on #18
Given the perf fixes from https://github.com/callemall/material-ui/pull/1905, should we still update the examples to include a reduced date-range? I had the impression that it doesn't affect it noticeably with this perf fix in place.

[2015-11-03 14:01] mbrookes commented on #18
No, lets leave the example as is. Glad you go it resolved.

[2015-11-03 14:01] #18 closed

[2015-11-03 16:20] mbrookes commented on #16
I can still reproduce. Best to stick with 0.2.2.

[2015-11-03 16:39] mbrookes commented on #16
https://github.com/mbrookes/formsy-material-ui/tree/textfield-testcases

[2015-11-03 16:56] mbrookes commented on #16
Ach, never mind - caching issue. The test cover the other open issue from 0.2.3 / 0.2.4. I'll reference them there.

[2015-11-03 16:56] #16 closed

[2015-11-03 21:11] mbrookes commented on #15
Added some common test cases (not automoated tests) for Textfield: https://github.com/mbrookes/formsy-material-ui/tree/textfield-testcases

[2015-11-05 22:19] mbrookes commented on #21
Hi Daniel, Please could you try the version in this branch: https://github.com/mbrookes/formsy-material-ui/tree/textfield-dafaultValue ?

You will need to use <FormsyText value="Default value" />.

Formsy and Material-UI use `value` to mean different things, and the Formsy mixin expects the default value to be on the `value` prop. Hope this sort out the issue!

Vijay, any thoughts?

[2015-11-05 22:57] mbrookes opened #22 "Review which MUI components now accept errorText and update accordingly."

[2015-11-05 23:47] sys13 commented on #21
Sorry, how do I run this locally?

[2015-11-06 00:14] mbrookes commented on #21
Like this: https://docs.npmjs.com/files/package.json#git-urls-as-dependencies (or similar, depending on how you deploy NPM packages).

[2015-11-06 05:03] sys13 commented on #21
Having trouble installing it. I tried using this line in my packages.json file:
[code]
but I got this error
[code]

[2015-11-07 03:17] mbrookes commented on #21
[code]

Not sure what that hash is, but it isn't from this repo!

Try:

[code]

[2015-11-07 03:23] sys13 commented on #21
Thanks for the link. And it works great using the ```value``` prop. Also, I am no longer having an issue where it was requiring me to give focus to all required fields. Much appreciated.

[2015-11-07 03:44] mbrookes commented on #21
0.2.5 published.

[2015-11-07 03:44] #21 closed

[2015-11-10 15:54] lethanhquang opened #24 "propTypes of Validations and ValidationErrors"
propTypes of Validations and ValidationErrors should be oneOf string or object.

[2015-11-10 16:56] mbrookes commented on #24
Actually, given that the majority of props are just passed through to formsy-react or material-ui, where they are presumably already type checked, I"m not sure how much value there is in having them duplicated here, so I'd be happy to remove any we don't directly consume.

What do you think?

[2015-11-10 17:04] mbrookes commented on #7
Looks like #19 / 0.2.4 fixed this. Daniel, can you confirm?

[2015-11-10 23:49] sys13 commented on #7
Works!

[2015-11-10 23:49] #7 closed

[2015-11-10 23:59] mbrookes commented on #24
Removed in 0.3.0.

[2015-11-10 23:59] #24 closed

[2015-11-11 00:02] mbrookes commented on #3
Hi @mvandiest - can you try this again now that FormsyText is rewritten, and value is supported for passing a default value to Textfield via Formsy validation?

[2015-11-11 19:05] py-in-the-sky opened #26 "Problem with `v0.3.0` NPM package"
I npm installed twice to update to v0.3.0, and the package only contained the following:

* CHANGELOG.md
* LICENSE
* package.json
* README.md

[2015-11-11 20:51] mbrookes commented on #26
Huh, you're right! Try now.

[2015-11-12 20:38] py-in-the-sky commented on #26
That did the trick!  Thanks!

[2015-11-12 20:38] #26 closed

[2015-11-12 21:33] mbrookes commented on #26
Cool. Sorry for the inconvenience!

[2015-11-13 09:03] lethanhquang opened #27 "[Core] Overwrite onChange event?"
Hey man,
I really love this plugin, but when I try to overwrite onChange event, nothing happened.

[2015-11-13 09:11] vijayrawatsan commented on #27
Yo can't. See below code for supported props for FormsyText
[code]
I tackled this problem by assigning a change handler to form like this:
[code]
And get the value of changed field like this
[code]

[2015-11-13 15:48] cbioley opened #28 "[FormsyText] visual feedback for required inputs"
Hi,

Apparently, setting the `required` attribute on a `FormsyText` reports the form state as invalid (the submit button can be disabled), but no message appears below the field? Is it the expected behavior? Shouldn't we do something with the `showRequired` function?

[2015-11-13 17:11] mbrookes commented on #27
@lethanhquang - what Vijay said. :)

I guess we _could_ rearrange the order to allow you to reassign onChange, but to be honest, at that point it pretty much defeats the purpose of using formsy-material-ui, and you might was well wrote your own wrapper.

Thinking about it we could add an onChange callback to each FMUI component itself to bubble that up from the underlying MUI component if there wa

[2015-11-13 17:43] mbrookes commented on #28
MUI doesn't have a built in indicator for required fields (an asterisk or such), so we would either have to reuse errorText, or add an indicator of our own to the MUI component.

Using the errorText would work for forms that _don't_ disable the submit button, as the error could be displayed on submit, although arguably that's not great UX, as the user wouldn't know what was required vs optional un

[2015-11-13 17:59] sys13 commented on #28
I've just been adding an asterisk to my floating name/hint text.

Matt Brookes <notifications@github.com> 於 2015年11月14日 週六 上午1:43 寫道：

[2015-11-13 18:16] mbrookes commented on #28
Yeah, I was just thinking the same thing, so had gone to look at the Material Design spec [1]  to see if there were any hints as to the preferred approach.

The only thing I could find was in "Multi-line text field", which has "(optional)" after the floatingLabelText. We _could_ automate that, but how hard is it to add that to your (un)required fields, or "(required)" or "*" to your required ones.

[2015-11-13 19:00] cbioley commented on #28
I don't know, but I have the feeling that a required field should be emphasised with more than a little "*", because it's so easy to miss. Very frustrating if you can't submit and your only resort is to guess (of course, I'm talking about forms with a lot of inputs).

This kind of feedback does seem right to me: https://infinit.io/_/qcDMnYN

[2015-11-13 22:32] mbrookes commented on #28
So use "(required)" instead.

[2015-11-13 23:32] cbioley commented on #28
I agree with you that required fields should not display an error *before* a submit.

Problem is I can't see the error message ("this field is required") below the field after the first attempt to send the data.

[2015-11-14 17:33] mvandiest commented on #3
Hey @mbrookes, sorry for the delay. So, I pulled the 0.3.2 in to my local demo and the value property works perfectly now. So, this issue can be closed. I'm not really sure which PR to attribute the fix to since there's been a lot of mods over the last month.

[2015-11-14 18:50] mbrookes commented on #3
#23 / 0.2.5 I think. :)

[2015-11-14 18:50] #3 closed

[2015-11-14 20:29] mbrookes commented on #28
Cool. Happy to take a PR for this feature. Suggest to make it optional, depending on the presence of a 'requiredError' string prop.

[2015-11-16 03:39] lethanhquang commented on #27
@vijayrawatsan: Thank you so much.
@mbrookes: In my case, I would like to reformat the currency number after the FormsyTextComponent has changed. But I think vijayrawatsan's solution is worked for me.

Than you guys!

[2015-11-16 04:05] lethanhquang opened #29 "[FormsyDate] defaultDate is not valid for required"
Hi everyone,

Here my component, I try to set defaultDate is `minDate` but the form is still invalid cause the value of `start_date_time` still null until I make a change on this. Have you had any idea for this?

[code]

[2015-11-16 12:02] mbrookes commented on #27
Thanks for letting us know. I'll keep this open for now in case others need this - both to expose Vijay's solution, and in consideration of adding this at a component level in the future.

[2015-11-16 12:13] mbrookes commented on #29
I suspect this is probably similar to #21. I'll take a look.

[2015-11-16 22:16] mbrookes commented on #29
Try `value` instead of `defaultDate`. Formsy expects the default to be in 'value' prop, and it so happens DatePicker also supports this prop; so unlike FormsyText, there was no need to change FormsyDate to internally map `value` to `defaultDate`.

Material-UI has _the_ most inconsistent API! :hankey:

[2015-11-26 21:55] mbrookes commented on #29
Tested and confirmed working as described.

[2015-11-26 21:55] #29 closed

[2015-11-30 11:40] lukkuz opened #31 "[FormsyDate] formatDate prop skips locale"
Current implementation of formatDate formatter skips locale settings thus giving incorrect value due time-zone calculations.

Date set for today is 2015-11-30 which gives "2015-11-29T23:00:00.000Z" as ISO representation. My timezone is CET. Substringing it will give the day before which is incorrect.

The simplest fix would be to change FormsyDate.jsx:12 from

[code]
to
[code]

[2015-11-30 21:04] mbrookes commented on #31
Good catch - my attempt to make DateField more international-friendly by default by using ISO8601 rather than US date format has clearly backfired! :smile:

In the meantime, as a workaround you can of course override `formatDate`, just  as you would have had to anyway.

As for a fix, `toLocaleDateString()` seems like it ought to help, but it defaults to a US date format unless provided with a loca

[2015-12-01 10:11] lukkuz commented on #31
Yes, it works perfectly fine. Below is the transcript from the test inside my browser.
[code]

[2015-12-01 17:08] mbrookes commented on #31
Could you check against this branch? https://github.com/mbrookes/formsy-material-ui/tree/default-date

Depending on how you import NPMs, you should be able to reference the brach or the specific commit: 43f4955962774edff066abb4ca864b27dc14fdf2

[2015-12-01 21:21] lukkuz commented on #31
I've tried checking against this commit but things seem to be broken. My build fails with a message:

I'm using ES6 syntax in my code.

My understanding is that somehow package.json file was also edited and ``` "main": "lib/index.js"``` was replaced with ``` "main": "index.js"``` and there is no such file in main dir.

I've tried to find a commit that did this thing but wasn't successful. It seems

[2015-12-01 23:44] mbrookes commented on #31
You're right - it looks like I published from the `separate-components` branch instead of merging and publishing from master. Rather than try to reconcile now, I've updated this `default-date` branch with what should be a working package.json (and a transpiled version of FormsyDate).

If it looks okay for you, then I'll try to clean up my branch / commit foobar and merge this with master and publi

[2015-12-02 08:13] lukkuz commented on #31
Yes, ```default-date``` works as expected now. Thanks for prompt support.

[2015-12-02 08:13] #31 closed

[2015-12-02 15:41] mbrookes commented on #31
0.3.3 published to NPM. Thanks for the report.

[2015-12-29 08:55] konoufo commented on #27
I think it doesn't cost much to add an onChange prop in each FMUI component (and similar thing for all the other events callback) and expose it thru the handleChange method of each FMUI component. It'd be a good idea to add these. Make the wrapper flexible and complete.

[2015-12-30 00:16] mbrookes commented on #28
The December update of Material Design has clarified handling required fields:

https://www.google.com/design/spec/components/text-fields.html#text-fields-required-fields

So, an asterisk it is... which contradicts some of the examples elsewhere in the spec, and in google's own apps, but the MD spec is nothing if not inconsistent!

[2015-12-30 00:29] tnrich opened #32 "dynamically add/remove form field"
Hey there, I'm wondering if you know of an easy way to add/remove form fields depending on the state of the form. For example, showing a new section of the form if a user selects a certain checkbox.

Thank you!

[2015-12-30 00:33] mbrookes commented on #32
There's an example in the formsy-react repo: https://github.com/christianalfoni/formsy-react/tree/master/examples/dynamic-form-fields

I haven't tried it with formsy-material-ui, so let me know how you get on. If there's anything that FMUI breaks, let me know and I'll look into it.

[2015-12-30 07:26] maticrivo opened #33 "Possibility to style the error message"
can we have the possibility to style the error message?
for instance sending a hintStyle objects styles the hint text, maybe we can have an errorStyle to style the error

[2016-01-02 21:50] STRML opened #35 "Checkboxes don't toggle"
It appears the internal `switched` property (on MUI Checkbox) is no longer being toggled properly when wrapped in a `<FormsyCheckbox>`.

It appears that:

* A click calls `<EnhancedSwitch>`'s `_handleChange()`.
* This calls `this.props.onParentShouldUpdate()`, which is implemented by `<Checkbox>` and calls `this.setState({switched: true})`.
* In the same callback, `<EnhancedSwitch>` also calls `th

[2016-01-02 21:51] STRML commented on #35
Here's a photo showing `<Checkbox>` handling the cWRP callback, while the `switched: true` transition is still pending:

![](http://i.imgur.com/SFKTS05.jpg)

[2016-01-04 11:34] mbrookes commented on #35
@STRML - thanks for the detailed report. Looks like something changed between 0.14.0-rc1 and 0.14.0-rc2. @alitaheri any thoughts?

[2016-01-04 12:24] alitaheri commented on #35
We're planning to make all our components controllable with stateful wrappers to help with forms. There are indeed many problems regarding how state is handled. and we should not handle state at all! It's the user's concern how the data flows through their application. we shouldn't make assumptions! @STRML Whenever you get the time please open an issue in material-ui repository too. We should trac

[2016-01-04 12:47] mbrookes commented on #35
:grinning:

[2016-01-04 22:13] #35 closed

[2016-01-04 22:17] STRML commented on #35
Great, thanks!

[2016-01-04 22:28] mbrookes commented on #35
No worries. Can you test against master, and if all looks good for you, I'll push a new release.

[2016-01-04 22:31] STRML commented on #35
:+1: Works here.

[2016-01-04 23:19] mbrookes commented on #33
Hi @maticrivo - sorry for the delay, I actually managed a few days away from the computer!  However I think you might have meant to post this over at material-ui?

In the case of formsy-material-ui, you can pass any props that material-ui supports to the forrmsy-material-ui component, and they will be passed down (if not consumed by fmui itself), inclusing style props.

I didn't check all the comp

[2016-01-04 23:19] #33 closed

[2016-01-05 01:38] mbrookes commented on #27
I'd be cool with `onChange`, but so much of the rest of the material-ui API is in flux, I'd be reluctant to introduce much else, lest it all [gets deprecated](https://github.com/callemall/material-ui/issues/2784).

Feel free to post a PR for that much at least. :+1:

[2016-01-06 00:46] etmarch opened #36 "MUI 0.14.1 causes error: Warning: React.createElement: type should not be null, undefined, boolean, or number."
App info: Meteor 1.3 beta-latest, `formsy-react` and `formsy-material-ui` have been installed via the new Meteor modules syntax. When I am only using formsy-react (`<Formsy.Form />`) with a custom created input component, everything loads fine and no errors.

However, as soon as I put ` <FormsyDate />` (or any of the other input types) nested into the Formsy.Form component, I get these errors on t

[2016-01-06 00:51] mbrookes commented on #36
Are you by any chance using material-ui 0.14.1? If so there was a regression introduced by the change to babel 6. It will be fixed in 0.14.2, but I might put a workaround in formsy-material-ui in the meantime. For now, try material-ui 0.14.0.

If it isn't that, we'll have to take another look. I haven't tried Meteor 1.3 beta yet.

[2016-01-06 01:10] etmarch commented on #36
Aha, so the culprit was material-ui 0.14.1 all along! After reverting to 0.14.0, the inputs display without any errors, thank you kindly. I seriously thought I was losing my mind for a second.

Before I close this issue, do you think this regression should be mentioned in the ReadMe (until 0.14.2)?

[2016-01-06 01:16] mbrookes commented on #36
Probably not a bad idea. You can leave this issue open for now too, until material-ui is fixed and / or formsy-material-ui has a workaround.

[2016-01-06 01:18] etmarch commented on #36
Ok will do. Thanks again for your help.

[2016-01-06 01:23] #32 closed

[2016-01-08 16:09] mbrookes commented on #36
[Material-UI 0.14.2]( https://github.com/callemall/material-ui/releases/tag/v0.14.2) released.

[2016-01-08 16:09] #36 closed

[2016-01-09 05:41] anhhh11 opened #38 "Break with material-ui 0.14.1."
[code]
In FormsyText.js, I figure out that
[code]
should be
[code]
Because text-field.js has changed in material-ui:
[code]

[2016-01-09 05:48] anhhh11 commented on #38
Update to 0.14.2 then it works.

[2016-01-09 05:48] #38 closed

[2016-01-09 06:15] anhhh11 opened #39 "[FormsyText] Cannot access focus() method of original TextField"
With material-ui I can access its property through ref, but FormsyText can't:
[code]
[code]
With FormsyText
[code]
[code]

[2016-01-09 10:35] danielbayerlein opened #40 "[FormsySelect] "menuItems" property of "SelectField" and "DropDownMenu" has been deprecated"
I've some problems with the `FormsySelect` component. When I use the example code from your readme, i get the following deprecated warnings:

[code]

When I use the example from the [Select Field](http://www.material-ui.com/#/components/select-field) component, it doesn't work. I think the problem is the `onChange` property (#27).

Example code:

[code]

Extract from `package.json`:

[code]

Thank

[2016-01-09 16:16] mbrookes commented on #40
Yeah, thanks for opening the issue - I've been meaning to look at this. Material-UI is undergoing a lot of changes, and it's hard to keep up!

Feel free to submit a PR if you're able to get to the bottom of it.

[2016-01-11 23:59] #40 closed

[2016-01-12 00:04] mbrookes opened #42 "[Core] ES2015 exports"
Update exports to ES2015 module format, without breaking things for CommonJS imports like Material-UI 0.14.1 did!

[2016-01-16 07:57] tnrich opened #43 "Example of new select "composability""
Hey there, could you update the readme to include an example of how to use the new "composable" select components? I am seeing a lot of the warnings but am not quite sure how to fix them.

Thanks!

[2016-01-17 00:03] #43 closed

[2016-01-17 00:09] mbrookes commented on #22
Nothing to fix.

[2016-01-17 00:09] #22 closed

[2016-01-26 14:52] Lol9tor opened #45 "[AutoComplete] WIll you do FormsyAutoComplete?"
I think it will be something like FormsyText, but some harder than one. I mean this:
http://www.material-ui.com/#/components/auto-complete

Can you do it?

[2016-01-26 15:29] mbrookes commented on #45
Not right now, but I'd be happy to take a PR for it though.

[2016-01-26 15:35] Lol9tor commented on #45
I forked this repo and I'll try to find solution

[2016-01-28 21:53] tnrich opened #46 "Why can't we pass a defaultValue to formsy mui textfields?"

[2016-01-28 23:24] mbrookes commented on #46
You can, but as it says in the [README](https://github.com/mbrookes/formsy-material-ui#usage) you have to use value instead.

[2016-01-28 23:27] tnrich commented on #46
Thanks for the link.
I was particularly wondering why Formsy-Mui didn't adhere to the MUI defaultValue prop? It seems like value and default value have different connotations.

[2016-01-28 23:30] mbrookes commented on #46
https://github.com/mbrookes/formsy-material-ui/issues/21#issuecomment-154213340

[2016-01-29 11:15] #46 closed

[2016-02-02 21:03] py-in-the-sky commented on #39
I have made this pr: https://github.com/mbrookes/formsy-material-ui/pull/47

[2016-02-04 16:59] py-in-the-sky commented on #15
I can think of two types of automated tests that'll help with checking against new versions of Material-UI and Formsy:

1. For each Material-UI component that formsy-material-ui handles, assert that `propTypes` are what we expect them to be.  E.g., in testing `TextField`, we could assert `TextField.propTypes` are [what we expect](https://github.com/callemall/material-ui/blob/master/src/TextField/T

[2016-02-05 23:30] mbrookes commented on #15
1. Are the proptypes likely change though in a way that affects this library? Would it be better to test that things behave in a predictable manner given a known set of inputs? (As you can see, there's a reason this is flagged "help wanted"! :laughing: )

2. Would it be a good idea to switch to ES6 classes first, and remove the mixin, rather than adding test that depend on it? https://github.com/c

[2016-02-06 08:38] py-in-the-sky commented on #15
1. Yes, I agree that the most important kind of test vis a vis material-ui is that the underlying component behaves predictably for a known set of props.  And I do believe it's unlikely proptypes would change in a way that affects the library, but it's also an easy test to write and might provide useful feedback if/when material-ui changes its API.

2. Yes!  At work, we're not using material-ui, s

[2016-02-06 12:49] mbrookes commented on #15
Thanks so much for the offer of help! I'm new to JS, so not familiar with all the testing tools or testing in JS in general, so whatever you feel works best - perhaps leaning towards whatever material-ui / formsy-react / react use, in that order, if there's any common ground there.

[2016-02-06 13:56] #39 closed

[2016-02-08 21:58] py-in-the-sky commented on #15
I've started [this branch](https://github.com/mbrookes/formsy-material-ui/tree/setup-testing-tools).  I'll make a PR for it to get a review when I get some decent tests.  It uses most of the same testing tools as material-ui.  One difference is that it uses enzyme; enzyme is a wrapper over React TestUtils, which is what material-ui uses.  Enzyme is pretty expressive and makes writing tests for Rea

[2016-02-08 22:32] mbrookes commented on #15
Thanks! Looks like a good start. :+1:

[2016-02-09 20:46] py-in-the-sky commented on #15
Here's my proposal for a testing framework: https://github.com/mbrookes/formsy-material-ui/pull/50

If it seems good, then we can use it to build up the test suite over time.

[2016-02-09 20:59] py-in-the-sky commented on #15
I'll also look into using Karma + Mocha rather than Mocha + JSDOM.  That way, our tests would run on a real browser and let us perhaps avoid some pains associated with testing in JSDOM.

[2016-02-09 21:42] #27 closed

[2016-02-10 01:57] nathanmarks commented on #15
@py-in-the-sky What pains have you experienced with jsdom? I'm using enzyme on a project at the moment for unit testing (well, just switched out my own jsdom helpers for enzyme). I haven't had too many issues. **Complicated** integration tests are done using real browsers, so none of that finds its way into jsdom tests.

[2016-02-11 02:58] py-in-the-sky commented on #15
@nathanmarks For the most part, I love enzyme + jsdom.  I've run into a few problems related specifically to testing forms and material-ui in jsdom.  In fact, they've all been similar to the one discussed here: https://github.com/facebook/react/issues/1185#issuecomment-106888728

[2016-02-11 04:10] nathanmarks commented on #15
@py-in-the-sky Unfortunately not.

**But!** I'm currently preparing a proof of concept PR for `material-ui` to split the test suite into browser and unit tests so that the components can be unit tested without a phantomjs browserify build required. This makes for a much happier with TDD.

I wanted to contribute to `material-ui` but was frustrated that my only testing option was phantomjs + karma +

[2016-02-11 07:40] py-in-the-sky commented on #15
@nathanmarks That sounds terrific!  If you could, please link it here when you're ready to PR it to material-ui.

I like the idea you have of splitting as many things out as possible away from karma tests.  And I know what you're talking about with regards to quicker development.  The setup I have at work is mocha + jsdom, and when I use it in watch mode, it makes for a great iterative-development

[2016-02-11 13:03] nathanmarks commented on #15
@py-in-the-sky bingo!

I will definitely link you once I get it up and going (most likely by some time next week).

[2016-02-14 20:37] py-in-the-sky opened #51 "Show off package quality"
This project gets a [high score](http://packagequality.com/#?package=formsy-material-ui) on http://packagequality.com/, so why not show it off?

Here's [an example](https://github.com/erikras/redux-form#redux-form) of another project showing it off on the README.md.

[2016-02-14 20:50] mbrookes commented on #51
Thanks for the pointer - I hadn't come across that one, but I should have looked at your example befre adding it - I assumed it would be a small badge "in the style of", but it's a bit big and showy-offy.

Take a look and see what you think, but I might revert that last commit.

[2016-02-15 21:08] py-in-the-sky commented on #51
Ha!  It does stand out quite a bit.  I don't think it's gaudy, though, but my feelings wouldn't be hurt if you decide to forgo it.  :)

[2016-02-24 11:23] dhruvdatt opened #52 "Yellow frame made on double clicking FormsyText"
I recently started using material-ui and stumbled upon formsy-material-ui just what I needed.
I get this odd issue when selecting an option by double clicking a text field.There is a yellow box made around it.This does not go until I type something.Is this only my issue.How do I prevent it.
This issue is also in the live demo.

![odd](https://cloud.githubusercontent.com/assets/12109834/13283864/5f

[2016-02-24 13:59] mbrookes commented on #52
I'm guess this is in Chrome? That's it's indication that a form has been autofilled. This is neither a Material-UI not formsy-material-ui issue.

LMGTFY:  http://www.zigpress.com/2014/11/22/stop-chrome-messing-forms/

`input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }`

[2016-02-24 21:20] #52 closed

[2016-02-26 02:39] ffxsam opened #54 "Text fields are laggy"
disregard. till I find a way to fix

[2016-02-26 04:09] #54 closed

[2016-02-27 15:09] DriesS opened #55 "Checkbox not updating"
When using the normal MUI Checkbox component the toggling of the checkbox is working perfect. When using the FormsyCheckbox component the toggling isn't working an the component stays in the original state.

I'm using material-ui@0.14.4 and formsy-material-ui@0.3.8

[2016-02-27 16:14] mbrookes commented on #55
I've updated formsy-mui-demo to current versions (material-ui@0.14.4 and formsy-material-ui@0.3.8), (which I should have done sooner!), and can't reproduce this issue.

Can you post or link to your code?

[2016-02-27 16:18] mbrookes commented on #15
@py-in-the-sky - @nathanmarks fantastic work on testing has been merged in Material-UI. Unit tests are now in development.

[2016-02-27 16:37] DriesS commented on #55
@mbrookes I can't share the whole project but I extracted the files that are involved.
I use redux and the component is rendered under route App -> Settings -> Network.

The form that is rendered you can find in Network.js.
When clicking on the checkbox I have some animation that illustrate the click but nothing is changing.

Here you find my gist : https://gist.github.com/DriesS/4c8d799e87cca7794

[2016-02-27 16:55] mbrookes commented on #55
I don't know why that doesn't work, sorry. You might find the chrome React devtool helps you diagnose.

[2016-02-28 07:09] thearabbit opened #56 ""Select Component" like "Select 2"?"
I used to use `select2` with `BS3`.
Have any `Select Component` for `this`?

[2016-02-28 10:20] DriesS commented on #55
@mbrookes did some further investigation and it looks like the value received in handleValueChange is always true or false ( depending how I set defaultChecked ).

` handleValueChange: function handleValueChange(event, value) {
    this.setValue(value);
    if (this.props.onChange) this.props.onChange(event, value);
  },`

Any idea why the value that I receive is always the initial value?

[2016-02-28 10:25] mbrookes commented on #56
`FormsySelect`. If you need more advanced features than Material-UI SelectField supports, feel free to contribute there.

[2016-02-28 10:25] #56 closed

[2016-02-28 13:51] thearabbit commented on #56
Thanks, I can't help (new for react & material).
It mean `react select/combo`!

[2016-02-28 13:54] mbrookes commented on #56
Not supported at the moment.

[2016-02-29 11:02] mbrookes commented on #55
What version of MAterial-UI are you running, and could this be related? https://github.com/callemall/material-ui/issues/2983

[2016-02-29 11:41] DriesS commented on #55
@mbrookes material-ui@0.14.4

[2016-02-29 11:45] mbrookes commented on #55
Mmm, okay, no 0.14.4 is fine here. Might be worth you trying 0.15.0-alpha.1 just in case.

[2016-03-01 14:56] DriesS commented on #55
@mbrookes another important detail I found out is that I have this bug only in chrome. Don't have this issue in Firefox and Safari.

[2016-03-01 15:02] mbrookes commented on #55
I'm testing Chrom (OS X). Weird!

[2016-03-02 00:52] TintypeMolly commented on #55
I'm experiencing the same issue, too.
[code]

[2016-03-02 00:59] TintypeMolly commented on #55
[code]
It happens to Edge, too.
And I tested these two on Windows 10.

[2016-03-02 06:59] TintypeMolly commented on #55
This seems like a little tricky problem.
[code]
![mac_chrome](https://cloud.githubusercontent.com/assets/2056635/13452577/695beb28-e08c-11e5-905b-a6d39964afeb.gif)

Like this, This `value` argument is given as the value of the checkbox **before it was clicked** for Chrome on both Windows 10 and Mac OS X El Capitan.

So I should have override this function to be like this
[code]

But this time, thi

[2016-03-02 12:18] mbrookes commented on #55
@TintypeMolly Thanks for the detailed analysis!.

@alitaheri - sorry to bother you, but could use your brains on this one!

[2016-03-02 13:22] alitaheri commented on #55
Hmm I'm guessing this is a race condition. I wonder what would happen if `_handleChange` was differed. can someone try:
[code]

at the mui's source code?  https://github.com/callemall/material-ui/blob/v0.14.4/src/enhanced-switch.jsx#L235

[2016-03-02 13:27] alitaheri commented on #55
the workaround would to to manually maintain the `checked` value. https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyCheckbox.jsx can have a state to toggle handle `this.state.checked` whenever `handleValueChange` is called. I'm this is material-ui related, but for now that might work around this issue.

[2016-03-02 13:33] mbrookes commented on #55
Thanks @alitaheri, appreciate the input. If we can fix this at source, that would be preferable.

I can't test here, since it works for me across all browsers, but hopefully @TintypeMolly and @DriesS can try your _handleChange fix.

[2016-03-02 13:39] alitaheri commented on #55
The EnhancedSwitch component needs total rework O.O

[2016-03-02 14:49] TintypeMolly commented on #55
That saved my day. Thanks @alitaheri

Hope `EnhancedSwitch` can be fixed soon :+1:

[2016-03-02 15:08] alitaheri commented on #55
Glad I could help. can anyone confirm whether my proposed solution for material-ui can work? :sweat_smile: I can't do it my self without having to learn formsy and this library, as this issue is only raised with this library :sweat_smile:

[2016-03-02 16:23] TintypeMolly commented on #55
below worked for me.
[code]

[2016-03-02 17:25] DriesS commented on #55
@TintypeMolly thanks, is working here also.

[2016-03-02 18:03] TintypeMolly opened #58 "FormsySelect behavior when selected empty value"
see this example
[code]

![blah](https://cloud.githubusercontent.com/assets/2056635/13469647/b0522d26-e0eb-11e5-9864-a1b5a35fe6b9.gif)

This seems quite odd.

A naive solution would be modifying https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsySelect.jsx#L21
[code]
like this
[code]

![hey](https://cloud.githubusercontent.com/assets/2056635/13469835/56106980-e0ec-11e5-987b-5f360

[2016-03-02 18:04] mbrookes commented on #55
Could one of you please check whether [this](https://github.com/mbrookes/formsy-material-ui/issues/55#issuecomment-191236749) works so we can fix it at source?

[2016-03-02 19:41] DriesS commented on #55
@mbrookes changing the code of _handleChange isn't working here.

[2016-03-03 09:06] Jan-Jan opened #59 "[FormsySelect] dropdown doesn't work"
Nothing happens when I click on a FormsySelect component. (Neither are there any errors/warnings/messages in the console.)

I created the FormsySelect component as per the README.md
[code]

Please note FormsyText works as per the README.

I am using
[code]

[2016-03-03 09:35] mattias800 opened #60 "onEnterKeyDown has been deprecated in material-ui 0.15"
material-ui has released an alpha of 0.15 where onEnterKeyDown has been deprecated.
This causes a warning in the console:
[code]

[2016-03-03 15:16] mbrookes commented on #59
Here's a working example. It uses Meteor, but only as a handy way to deploy the demo site. Tee code is pure React.

https://github.com/mbrookes/formsy-mui-demo

[2016-03-03 15:18] mbrookes commented on #60
Thanks, yes, this doesn't support 0.15.0 yet. It hasn't been released. :smile:

We'll add support between now and when it is, but feel free to submit a PR in the meantime.

[2016-03-03 18:06] reohjs commented on #60
If you want to supress the error till this gets updated, you can change the key on line 57 to 'onKeyDown' in `node_modules/formsy-material-ui/lib/FormsyText.js`

[2016-03-03 23:02] reohjs commented on #54
Hey, did you find a fix yet? + are you using the MuiThemeProvider component from material-ui v0.15.0-alpha.1?

[2016-03-04 04:58] ffxsam commented on #54
I stopped using formsy altogether, actually. I plan on making my own lightweight add-on.

[2016-03-04 12:02] mbrookes commented on #54
:+1: Look forward to seeing what you come up with. formsy-react looks like it might have come to the end of it's development, which doesn't bode well for formsy-material-ui!

[2016-03-04 21:23] reohjs commented on #54
Ah, bummer... I solved it for now by removing the onChange & value props from the `FormsyText` file, seems to work fine (v0.3.5).

Thanks for bringing this to attention @mbrookes

[2016-03-05 21:29] LiShine opened #62 "FormsyTime - value not updated after time picked"
Using the example from formsy-material-ui github page.
The other fields work but FormsyTime - value is not shown when time picked.
When using TimePicker itself, it works

[2016-03-05 22:00] mbrookes commented on #62
Did you actually pick a time, or just click OK? If the latter, it's a MUI bug.

The same code for FormsyTime is here: https://github.com/mbrookes/formsy-mui-demo/blob/master/Form.jsx

Hand can be seen working at the site linked from the README in that Repo.

[2016-03-05 22:03] mbrookes commented on #55
Closing this since it's a MUI issue. I believe EnhancedButton is getting an overhaul, in which case hopefully this will be be fixed. In the meantime, glad @alitaheri's workaround helps. Thanks @alitaheri!

[2016-03-05 22:03] #55 closed

[2016-03-06 09:51] LiShine commented on #62
I actually pick the time and then click ok
I am using the new Meteor beta
Same class as in Form.jsx

import React from 'react'
import * as rb from 'react-bootstrap'
import injectTapEventPlugin from 'react-tap-event-plugin';
import { FormsyCheckbox, FormsyDate, FormsyRadio, FormsyRadioGroup, FormsySelect, FormsyText, FormsyTime, FormsyToggle } from 'formsy-material-ui'
import RaisedButton from 'mat

[2016-03-06 17:33] alitaheri commented on #55
Anytime ( ^_^ )

[2016-03-07 01:34] mbrookes commented on #15
I'm closing this, as @py-in-the-sky has done the hard work of putting a test suite in place. There's still work to be done on test coverage, but the ground work is there. Thanks @py-in-the-sky. Come back any time! :+1:

[2016-03-07 01:34] #15 closed

[2016-03-07 01:36] mbrookes commented on #51
Thanks for the suggestion, but every time I saw it, the appearance of that badge rubbed me up the wrong way. :smile: If they change it we can happily revisit this!

[2016-03-07 01:36] #51 closed

[2016-03-08 01:15] py-in-the-sky commented on #51
no problem!

[2016-03-08 20:38] stueynet opened #64 "Checkbox array use case throws PropTypes warning"
With multiple checkboxes as part of an array, Formsy throws an error because formsy-material-ui/checkbox automatically sets checked to be the value of the checkbox.

https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyCheckbox.jsx#L30

Unfortunately if you are trying to save actual values in an array, this falls apart. Example:

[code]
Material UI enhanced switch component PropTyp

[2016-03-08 22:02] scrambled2k3 opened #65 "Text PropType"
It would be nice for the value of a FormsyText component to accept numbers as well instead of just strings.  The material-ui TextField accepts of Proptype of "any".  If you think this is a valid change, I can submit a PR.

[2016-03-08 22:05] mbrookes commented on #65
Makes sense, go ahead.

[2016-03-09 03:03] scrambled2k3 commented on #65
PR submitted: #66

[2016-03-10 18:24] stueynet opened #68 "FormsyText is really slow"
I find the text inputs and checkboxes to be really slow when you type. Its fine if you type 1 letter but if you try to type a few words it lags like crazy. This occurs in your demo page as well. Any thoughts?

[2016-03-11 20:49] brandonmp commented on #68
concur-anyone know a way to mitigate this? if i swap out the components for regular MUI textfields, the lag disappears, but it's not clear how to wire that into the Formsy.Form.

[2016-03-12 14:22] izziaraffaele commented on #60
According to material-ui doc ( http://www.material-ui.com/#/components/text-field ) a controlled TextField component must be managed with the onChange prop.

That is probably what is causing this as well https://github.com/mbrookes/formsy-material-ui/issues/68

[2016-03-12 18:38] reohjs commented on #68
@brandonmp https://github.com/mbrookes/formsy-material-ui/issues/54#issuecomment-192470948

[2016-03-12 22:38] bschnelle commented on #68
It's pretty slow in the demo in the docs as well.

[2016-03-15 11:24] DriesS opened #69 "How to submit form in MUI modal"
Hi,

I have a modal with the form as the content. I pass my submit button in the actions attribute of the modal component but when clicking the button I don't receive my formData values. How can I submit the form and receive the data from the form with putting the submit button outside the form?

Here is the code that I use for the moment :

[code]

[2016-03-15 11:33] mbrookes commented on #69
Did you just :+1: your own issue? :smile:

[2016-03-15 11:36] mbrookes commented on #69
I'd suggest not using dialog actions, and make this part of the form, then make the dialog a controlled component using `open` and `onRequestClose`/

[2016-03-15 11:39] DriesS commented on #69
@mbrookes Haha yes, was testing the new github feature :+1:
thanks, I will put my actions in the Dialog directly.

[2016-03-15 11:46] #69 closed

[2016-03-16 02:33] rnarayan opened #70 ""onEnterKeyDown" property of "TextField" has been deprecated in material ui"
When using the Example code of formsy-material-ui, I am getting the following error. I am using 0.15.0-alpha.1 version of material-ui.

Warning: "onEnterKeyDown" property of "TextField" has been deprecated.
Use onKeyDown and check for keycode instead.

[2016-03-16 09:52] mbrookes commented on #70
Dupe of #60.

[2016-03-16 09:52] #70 closed

[2016-03-21 23:31] pilgrimtech commented on #54
@reohjs mind making a pull-request for this?

[2016-03-22 07:46] duylam opened #71 "Deprecated "onEnterKeyDown" property of "TextField" since material-ui v1.15.0-alpha.1"
Hi,

Since `material-ui` v1.15.0-alpha.1, warning messages show up in browser console if we use `FormsyText` (see below picture)

I made [simple snippet to re-produce it here](https://github.com/duylam/formsy-material-ui/commit/11ffc8ad68c772b9a91bf70be5ade3db21c8c7ee) (just `npm install` and `npm run show-me`)

*I could submit a simple PR to use `onKeyDown` but I not sure whether it's enough so I

[2016-03-22 08:05] duylam commented on #71
Close as duplicating with https://github.com/mbrookes/formsy-material-ui/issues/60

[2016-03-22 08:05] #71 closed

[2016-03-22 11:15] reohjs commented on #54
@pilgrimtech [Done](https://github.com/mbrookes/formsy-material-ui/pull/72) :)

[2016-03-22 23:14] simpixelated commented on #59
Note, this is the key line from the demo that I was missing:
https://github.com/mbrookes/formsy-mui-demo/blob/master/Form.jsx#L3
[code]

`FormsySelect` uses Material-UI `SelectField`, which requires react-tap-event-plugin.
https://github.com/callemall/material-ui#react-tap-event-plugin

[2016-03-24 15:59] simpixelated commented on #45
Here's a really basic example I'm using to create a component in my own codebase, not as a distributable component. But hopefully it points someone else in the right direction.

[code]

The value is correctly passed to `onValidSubmit` for the parent `<Formsy.Form>`.

[2016-03-30 10:08] jurgob opened #74 "FormsyCheckbox error on form reset"
I have a form which contains some FormsyCheck:

[code]

when Inside **onReset** I  call

`this.refs.searchForm.reset();`

I have the following warning:

`warning.js:45 Warning: Failed propType: Required prop `switched` was not specified in `EnhancedSwitch`. Check the render method of `Checkbox`.`

[2016-04-05 11:20] Miteshdv opened #76 "FormsyDate causes Uncaught Invariant Violation"
Hi I am trying to use FormsyDate DateField type input for form to format date.
But i am getting following error

Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).

[2016-04-06 09:25] jurgob commented on #74
I did a pull requst
#75

[2016-04-07 07:47] Miteshdv commented on #76
Any update on this please!

[2016-04-07 10:15] mbrookes commented on #76
Here's what might be wrong:

[code]

[2016-04-07 10:15] #76 closed

[2016-04-07 13:21] Miteshdv commented on #76
Is there some way to fix this i dont know what wrong i am doing , request you to help me out please

[2016-04-07 13:23] Miteshdv opened #77 "Formsy date causing Uncaught Invariant Violation"
Hi ,
 I am getting following error whenever we use formsy date

Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).

I dont know how to fix this, please help

[2016-04-07 13:40] mbrookes commented on #76
Make sure you don't have multiple copes of react in `node_models` and its subfolders, particularly `material-ui`.

[2016-04-07 13:47] Miteshdv commented on #76
I wish i knew how to figure this out , well there are lots of libraries in my project.I will try to find .Thanks

[2016-04-07 14:02] Miteshdv commented on #77
Similar to issue no.76 will try to find multiple react copies loaded

[2016-04-07 14:02] #77 closed

[2016-04-07 14:05] mbrookes commented on #76
Just delete 'node_modules' and 'mom install'

[2016-04-07 14:06] mbrookes commented on #76
'npm install'

[2016-04-07 14:54] Miteshdv commented on #76
Ok that worked thanks ! But i dnt know why the FormsyDate Component is showing nothing .. no date field no text input not errors ! any idea on this please

[2016-04-10 23:15] keremciu opened #78 "update material-ui 0.15.0"

[2016-04-15 20:35] alexhawkins commented on #78
there are many changes that need to made in material-ui 0.15 beta

you'll currently get errors like this due to the paths being wrong. It's a quick fix.

[code]

[2016-04-16 10:45] fbarrailla opened #79 "React 15 uncontrolled to controlled input warning"
When I begin to edit a TextField, I get this warning from `React@15.0.1`

`Warning: TextField is changing a uncontrolled input of type text to be controlled.
Input elements should not switch from uncontrolled to controlled (or vice versa).
Decide between using a controlled or uncontrolled input element for the lifetime of the component.
More info: https://fb.me/react-controlled-components`

Relate

[2016-04-16 23:57] #58 closed

[2016-04-17 00:09] #60 closed

[2016-04-18 11:07] devdlabs commented on #79
I think it is related to formsy issue

[2016-04-18 23:28] mbrookes commented on #79
Yeah, I noticed this too, and haven't had a chance to get to the bottom of it. Good news is, it looks like formsy will get a new release soon, so if it is formsy, it can be fixed there.

[2016-04-18 23:29] #74 closed

[2016-04-19 19:37] mbrookes commented on #68
Closed with temp switch to uncontrolled use. We will have to revisit this in the future when Material-UI become controlled only.

[2016-04-19 19:37] #68 closed

[2016-04-19 19:37] mbrookes commented on #78
0.4.0 released.

[2016-04-19 19:37] #78 closed

[2016-04-19 19:38] mbrookes commented on #79
Fixed by formsy-react 0.18.0 (just released) included in formsy-material-ui 0.4.0 (also jest released). 😄

[2016-04-19 19:38] #79 closed

[2016-04-19 19:39] mbrookes commented on #65
Included on 0.3.9  & 0.4.0 releases. Thanks, and sorry for the delay in merging.

[2016-04-19 19:39] #65 closed

[2016-04-19 21:49] #42 closed

[2016-04-19 21:50] #59 closed

[2016-04-19 23:11] dmhood opened #82 "[FormsyText] Warning: Input elements must be either controlled or uncontrolled"
Currently the defaultValue prop of the underlying TexField component is set using the "value" prop (https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyText.jsx#L34).  Because we pass all these props down to textfield (https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyText.jsx#L32) this unfortunately makes the field un-editable.  Suggest just removing https://gi

[2016-04-20 01:50] quangdng opened #83 "this.handleEnterKeyDown is not a function for FormsyText"
Hi guys,

React pops up an error in FormsyText when we are trying to press Enter key instead of clicking on Submit button. It does not severely affect the form though.

In addition, when looking at FormsyText.jsx, there is no reference to this.handleEnterKeyDown. This is possibly a bug.

[2016-04-20 11:32] maticrivo commented on #83
@quangdng, actually FormsyText.jsx does reference `this.handleEnterKeyDown`
https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyText.jsx#L23

and it is not defined anywhere..

[2016-04-20 11:40] quangdng commented on #83
https://github.com/mbrookes/formsy-material-ui/pull/84

I created a pull request to fix this issue. Hopefully this is the right fix.

[2016-04-20 14:43] mosanger commented on #82
This also produces the following warnings in Chrome, when I try to set the `value` property, instead of `defaultValue`:

Setting `value` instead of `defaultValue` at least makes the field usable, but doesn't set its value initially, which means its value is always empty on mount.

*using React 15.0.1 and Material UI 0.15.0-beta1*

[2016-04-20 16:46] keremciu commented on #82
yep, I delete only one line on formsytext

defaultValue: this.props.value

and it works normally now, I can use defaultValue property

[2016-04-20 16:49] reebalazs opened #87 "If a value is specified to FormsyText, then the user cannot ever change the value."
I've fixed this in https://github.com/mbrookes/formsy-material-ui/pull/86.

This happened with version 0.4.0 and material-ui 0.15.0-beta.1.

[2016-04-21 14:04] jackyon commented on #28
hi @mbrookes, when can we start to use the 'requiredError' string prop?

[2016-04-21 14:16] quangdng commented on #82
@keremciu Can you make a pull request for that? It would be great.

[2016-04-21 14:47] reebalazs commented on #87
This is really the same issue as #82. My PR is supposed to fix the issue. I close this issue.

[2016-04-21 14:47] #87 closed

[2016-04-21 15:13] reebalazs commented on #82
Hi there,

I've created #87 which is a related issue, closing now because the two issues interrelate.

In my original problem I passed in 'value' which I wanted to get passed down as defaultValue to TextField. This makes the field uneditable. I attempted to fix this in PR #86, which makes the field editable again. - But it also breaks the possibility to pass in a value directly. In my use, I don't

[2016-04-21 20:56] mb-copart commented on #79
I am seeing the same warning, even when not using formsy-react.
[code]

[2016-04-22 07:07] mdarif opened #88 "Getting "Cannot read property 'attachToForm' of undefined" after upgrading to the latest"
Hi,

I have been stuck after upgrading to formsy-material-ui (0.4.0), formsy-react (0.18.0) and material-ui (0.15.0-beta.1) to latest versions, always getting `Cannot read property 'attachToForm' of undefined` before upgrading the modules, all was working fine.

Have tried several options without any luck.

Posting the Login component code which takes us to another route `ccall` but right before t

[2016-04-22 13:35] keremciu commented on #83
@quangdng @mbrookes #84 and #87 is really important fixes, I think we need urgent new version for them I can't use this library because of these problems :(

[2016-04-22 14:50] onimisionipe opened #89 "File Upload Field"
I'm curious as to why there's no file upload field. any alternative?

[2016-04-22 19:34] mbrookes commented on #83
Folks, I'm travelling this week, so will only be able to review next week. In the interim, you can point your package.json to a fixed fork.

[2016-04-23 08:00] vrecluse opened #90 ""Uncaught TypeError: this.handleEnterKeyDown is not a function" exception at FormsyText.js:47."
After updated to latest version then press enter when typing in FormsyText.

[2016-04-23 11:15] mdarif commented on #88
Anyone?

[2016-04-23 14:04] tanneess opened #91 "FormsyCheckbox trigger allot of React warnings"
Hi, the following happens when FormsyCheckbox is being added to the form with defaultChecked

warning.js:44 Warning: Input elements must be either controlled or uncontrolled (specify either the checked prop, or the defaultChecked prop, but not both). Decide between using a controlled or uncontrolled input element and remove one of these props

warning.js:44 Warning: EnhancedSwitch is changing a un

[2016-04-23 14:20] tanneess commented on #91
Actually this also happens for TextField. Am I doing something wrong here or is this a general issue?

[2016-04-23 14:53] claytonmarinho commented on #90
Have you tried onKeyDown?

"Deprecated. Use onKeyDown and check for keycode instead.

The function to call when the user presses the Enter key."

[2016-04-25 14:54] reebalazs commented on #82
Looking deeper at this, the case seems more and more complex. I am not sure if some recent change in formsy, or the react update has caused the regression that does not allow the value to be changed any more. The only way I can make this work currently, if I start managing the value myself. I have a terribly messed up version that works for my code, but not elegant and workaround-ish. I'll conside

[2016-04-25 15:13] mbrookes commented on #91
@tanneess - it seems to be a general issue after upgrading to latest versions of React, MUI and Formsy. I'll look into it when I get a chance.

[2016-04-25 19:01] mbrookes commented on #82
@reebalazs - the reason the default value has to be set with `value` is that formsy-react expects the default value on that prop.

Things may have been broken by the removal in 0.4.0 of a chunk of code to improve performance, (effectively a copy #72 applied manually).

[2016-04-25 19:27] mbrookes commented on #82
Actually, it's likely this was always an issue, but React didn't complain before 15.0.

Could you try the current master?

[2016-04-25 19:54] mbrookes commented on #62
Hi @LiShine - I can't reproduce this with the current version. Is this still an issue?

[2016-04-25 20:01] mbrookes commented on #64
@stueynet Understood. Care to submit a PR?

[2016-04-25 20:10] mbrookes commented on #83
Fixed in master. Could someone test it out?

[2016-04-25 20:18] dmhood commented on #82
Before https://github.com/mbrookes/formsy-material-ui/pull/72/files the element was manually applying the newly input values to the underlying text element...now that it is removed you cannot use value/defaultValue at all without rending the textfield unchangeable.

The warning about controlled/uncontrolled input elements is a separate (related) issue.

Shouldn't https://github.com/mbrookes/formsy

[2016-04-25 20:27] mbrookes commented on #88
Please don't use github issues for general help, but since you're here:

Not required - `lightBaseTheme` is the default in `getMuiTheme`.

Dead code.

`FormsySelect` is unused.

`9` at the end of the line.

No idea about your issue, but there are other code formatting problems that a good in-editor or standalone linter will pick up.

[2016-04-25 20:27] #88 closed

[2016-04-25 20:28] mbrookes commented on #82
@dmhood You shouldn't be using `defaultValue` - please see the README.

[2016-04-25 20:44] dmhood commented on #82
@mbrookes What I mean is using the value prop to set the default value (https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyText.jsx#L34).  It "locks" the value to whatever you pass in.  There is no way to set the value but still get new user input.

[2016-04-25 21:03] mbrookes commented on #82
Can you check you're using the correct version? It's working fine here.

[2016-04-25 21:07] mbrookes commented on #82
@dmhood - my bad. Missed the most important file from the commit! Try now.

[2016-04-25 22:31] dmhood commented on #82
@mbrookes works great w/ the recent commit, thanks!

[2016-04-26 08:11] ochervak commented on #82
Gentlemen's, is there any workaround to use controlled inputs ?

[2016-04-26 12:30] mbrookes commented on #82
@dmhood - 0.4.1 released.

@ochervak - not at the moment - controlled use was causing performance problems, but we'll have to revisit at some point, as uncontrolled use is possibly being removed from MUI in the future. Feel free to submit a PR if you can figure out a solution! 👍

[2016-04-26 12:30] #82 closed

[2016-04-26 12:41] ochervak commented on #82
thanks

[2016-04-26 13:06] ochervak commented on #91
Looks like fix should be the same as for inputs...

[2016-04-26 15:22] mbrookes commented on #91
@ochervak - yes, I'm going to update all the components to this approach when I get a moment.

[2016-04-26 15:24] ochervak commented on #91
@mbrookes many thanks!

[2016-04-26 15:54] 0xori opened #92 "[FormsyText] causes error : Cannot read property 'prepareStyles' of undefined"
on this line:  var prepareStyles = this.context.muiTheme.prepareStyles;
after this warning: Failed Context Types: Required context `muiTheme` was not specified in `TextField`. Check the render method of `FormsyText`.

[2016-04-26 16:26] mbrookes commented on #92
You need to add `muiTheme` on context using `MuiThemeProvider`: http://www.material-ui.com/v0.15.0-beta.2/#/get-started/usage

Or manually:

http://www.material-ui.com/v0.15.0-beta.2/#/customization/themes

(See 'Using context')

[2016-04-26 16:26] #92 closed

[2016-04-26 17:38] dmhood commented on #82
thanks!

[2016-04-26 21:47] mbrookes commented on #91
Okay guys, try master.

[2016-04-26 21:48] mbrookes commented on #62
Closing due to no response.

[2016-04-26 21:48] #62 closed

[2016-04-26 23:23] mbrookes commented on #46
Version on master now supports defaultValue. Let me know if it works for you.

[2016-04-26 23:37] mbrookes commented on #82
I've updated `FormsyText` on master, so it now supports `defaultValue`, but also kept backwards compatibility with using `value` for this purpose. Please check it out and let me know if it's working as expected for you.

[2016-04-27 05:17] ochervak commented on #91
@mbrookes i'm really appreciate your hard work!

[2016-04-27 08:04] 0xori opened #93 "[FormsyText] not showing default value"
Hi, I'm trying to show a default value on FormsyText.

I have tried with `value `prop & with `defaultValue `prop
this is example of my render method:

`render: function () {
    var firstName = "John";

     return(
       <Formsy.Form id="form-register-pa-1" ref="myForm"
                             onValidSubmit={this._handleValidSubmit}
                             onValid={this.enableSubmitBut

[2016-04-27 08:22] quangdng commented on #83
Tested. The bug was fixed. Thanks all.

[2016-04-27 08:23] #83 closed

[2016-04-27 08:24] quangdng commented on #5
Is there any progress on this? This bug is pretty annoying.

[2016-04-27 10:52] mbrookes commented on #93
Can you try with master?

[2016-04-27 10:54] mbrookes commented on #91
@ochervak NP - is it working for you now with master?

[2016-04-27 10:55] mbrookes commented on #90
Closing for now as this is a MUI API change.

[2016-04-27 10:55] #90 closed

[2016-04-27 10:58] mbrookes commented on #89
http://www.material-ui.com/v0.15.0-beta.2/#/components/raised-button

See Complex example, - choose an image.

[2016-04-27 10:58] #89 closed

[2016-04-27 11:02] ochervak commented on #91
@mbrookes i tried to install it from master with
```"formsy-material-ui": "git://github.com/mbrookes/formsy-material-ui#13d28637b2d3453d51fc95206c1deab31a43e99a",```
But my import fail... For example that:
`import FormsySelect from 'formsy-material-ui/FormsySelect';`

What i'm doing wrong ?

[2016-04-27 11:04] 0xori commented on #93
I tried both with master.. still not working

[2016-04-27 11:07] mbrookes commented on #91
Hi @ochervak the problem is that github doesn't have the babel transpiled lib directory, so you'll need to:
[code]

[2016-04-27 11:18] mbrookes commented on #93
@0xori - could you copy & paste the `propTypes` block from `node_modules/formsy-material-ui/lib/FormsyText`?

[2016-04-27 11:18] ochervak commented on #91
@mbrookes thanks. now i impored all things, but now
```invariant.js:38 Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).```

Warning appears...

[2016-04-27 11:25] mbrookes commented on #91
"you have multiple copies of React loaded"

Check if you have `react` in `node_modules/formsy-material-ui/node_modules` or `node_modules/material-ui/node_modules` and `rm -rf` it if so.

[2016-04-27 11:53] 0xori commented on #93
`  propTypes: {
    name: _react2.default.PropTypes.string.isRequired,
    value: _react2.default.PropTypes.any,
    onFocus: _react2.default.PropTypes.func,
    onBlur: _react2.default.PropTypes.func
  },`

[2016-04-27 12:09] ochervak commented on #91
@mbrookes yes, your right. i deleted node_modules, and all works fine!
checkboxes and select fields are confirmed! thanks

[2016-04-27 13:01] mbrookes commented on #93
@0xori - thanks, that isn't master in that case.

[2016-04-27 17:47] mbrookes commented on #93
0.4.2 released. Please reopen if that doesn't fix your issue after updating.

[2016-04-27 17:47] #93 closed

[2016-04-27 17:48] mbrookes commented on #91
0.4.2 released.

[2016-04-27 17:48] #91 closed

[2016-04-27 18:47] mbrookes commented on #5
@quangdng - can you remind me how this manifests? It's a long time since I've looked at it - I should have been more verbose in the issue description!

[2016-04-27 18:51] mbrookes commented on #28
@jackyon When someone contributes a PR. 👍

[2016-04-28 00:53] jackyon commented on #28
sorry, I already switch to using redux form, it plays well with material-ui

[2016-04-30 14:16] vrecluse commented on #90
It seems not a MUI API issue...Is this code ok? It calls this.handleEnterKeyDown without existence checking.
At FormsyText.jsx:22:
[code]

[2016-04-30 17:17] mbrookes commented on #90
What version are you using?

[2016-05-01 13:30] 0xori opened #94 "[FormsyText] not showing default value from ajax call"
Hi, When updating the default value from ajax call the value is not being updated.
Please consider to add

[code]
Into FormsyText

[2016-05-01 14:32] mbrookes commented on #94
HI @0xori I may be misunderstanding your use case, but the default value is just that - the initial value, so shouldn't change. Could you give an example perhaps?

[2016-05-01 15:25] 0xori commented on #94
Hi @mbrookes, currently you take the `defaultValue` from `getInitialState()`
this function is Invoked once before the component is mounted.
If I need to get my `defaultValue` from a server (via ajax), it wouldn't update because `getInitialState()` is already invoked, therefore, if you'll use also `componentWillReceiveProps` to get the `defaultValue` it will be updated even if you'll get it after t

[2016-05-01 16:19] mbrookes commented on #94
@0xori I get you. In that case, feel free to submit a PR, but please ensure it works consistently across all the form components. 👍

[2016-05-02 01:02] vrecluse commented on #90
0.4.0 via npm.

[2016-05-02 01:27] mbrookes commented on #90
Try the current version.

[2016-05-02 19:57] smithjessk opened #95 "[FormsyDate, FormsyTime] Input box with label text not clickable"
[code]

Before a value has been entered for these two components, the input dialog is only brought up if you click in the input box but outside of the floating label text. Once a value has been inputted, or a default value has been picked, then you can click on it to bring up the value.

Relevant dependencies are:
[code]

[2016-05-02 20:03] mbrookes commented on #95
Hi @smithjessk Thanks for the detail report - that's almost certainly an issue with Material-UI. Can you test without FMUI, with 0.14.4 and current versions of Material-UI?

[2016-05-02 21:18] smithjessk commented on #95
[code]

Doesn't allow me to click inside the bars at all. What dumb mistake am I making?

[2016-05-02 21:22] mbrookes commented on #95
Did you test with 0.15.0-beta.2? I only ask because I recognise the bug, and I'm pretty sire it's fixed in more recent versions.

[2016-05-03 14:51] smithjessk commented on #95
I'm testing it on Material-UI version 0.15.0-beta.1 because:

[code]

[2016-05-03 14:52] smithjessk commented on #95
Fixing some errors in the change right now, will let you know the results.

[2016-05-03 20:13] mbrookes commented on #95
Oh, sorry - I need to update that, but it's safe to ignore if your project is using material-ui@0.15.0-beta.2 / or material-ui@next

[2016-05-04 01:35] damonmaria opened #96 "Calling resetForm() from Formsy onSubmit doesn't reset FormsyText"
formsy-material-ui@0.4.2, formsy-react@0.18.0, react@15.0.2, material-ui@0.15.0-beta.2

        <Formsy.Form
          onSubmit={(data, resetForm) => {
            addTask(data.task.trim())
            resetForm()
            // input.setState({ value: '' })
          }}

          <FormsyText
            ref={(node) => {input = node}}
            name="task"
            floatingLabelText="Type to

[2016-05-04 18:14] smithjessk commented on #95
With this code, I can't click anywhere inside the input dialogs; this includes outside of the label text. Do I need to put them inside a form?

[code]
[code]

[2016-05-06 11:05] damonmaria opened #97 "Typing in FormsyText doesn't update Form validity"
If I have a `FormsyText` with `required=true` then typing in the text field does not fire the form's `onValid()` and `form.state.isValid` is `false`. On when the text field blurs do these update.

So at the moment I can't enable and disable the form's submit button based on the form being valid.

[2016-05-08 14:46] lefnire commented on #97
Same issue. Prior version updated `isValid` on field update; so this seems like a bug rather than design.

[2016-05-08 14:52] mbrookes commented on #97
I suspect we lost something in the move back from stateless to stateful to solve a performance issue. (And it may well be that validating on every key press was the cause of that issue - I honestly didn't dig into it.)

If someone wants to have a go at solving this, please jump in.

[2016-05-08 15:45] lefnire commented on #97
Just spent an hour fiddling; unfortunately I'm in over my head, and probably won't have the time to get up-to-date. FWIW if performance every keypress causes a performance issue, perhaps debounce could be used.

`npm i --save lodash.debounce`
[code]

[2016-05-09 12:20] krijoh92 opened #98 "Update peerDependency for Material-ui"
I see you have material-ui@0.15.0-beta.1 as a peer dependency in package.json

Materail-UI has now released 0.15.0, and it's no longer in beta.
https://github.com/callemall/material-ui/blob/master/CHANGELOG.md#0150

[2016-05-09 23:23] mbrookes commented on #98
Yup, although whatever you specify in your project will overrule.

But updated now, and thanks for the reminder.

[2016-05-09 23:23] #98 closed

[2016-05-10 12:33] krijoh92 commented on #98
Thanks! Yeah I know, just that pesky little warning from npm install ;)

[2016-05-10 12:35] kand617 opened #99 "Autofill input not detected"
Hi,

I have two text fields that are being auto filled by chrome. Formsy does not detect values from the browser, so I have to click in both text fields to enable the button.

Is there a way around this?

![image](https://cloud.githubusercontent.com/assets/5092518/15146544/2c155afa-1710-11e6-993a-525e0d66d938.png)

[2016-05-10 13:51] mbrookes commented on #99
@kand617 That's a MUI issue: https://github.com/callemall/material-ui/issues/718

[2016-05-10 13:51] #99 closed

[2016-05-10 13:55] mbrookes commented on #95
@smithjessk Since you can reproduce without formsy-material-ui present, it isn't an FMUI bug. Closing this.

[2016-05-10 13:55] #95 closed

[2016-05-11 08:07] alexhawkins commented on #94
+1

[2016-05-11 19:04] krizka commented on #96
Up. Same for me

[2016-05-11 19:05] krizka commented on #97
What is the version before this optimisations? seems related with form resetting too.

[2016-05-11 20:09] mbrookes commented on #97
@lefnire - good idea, I'll keep that in mind.

[2016-05-13 09:02] krizka commented on #96
Ok. I fixed this by extending FormsyText component with code:
[code]
Please fix it in FormsyText itself.

[2016-05-13 17:20] mbrookes commented on #96
@krizka I'm kinda snowed, but feel free to submit a PR an dI'll look at it when I can. Any explanation on the rational behind the approach (step by step through the data flow) will help with a speedy review and merge.

[2016-05-15 11:45] reebalazs commented on #82
It took me a while but I tested the last fix out. The fix was definitely going to the right direction, very similar to my previous solution, but better. However it was still not perfect. Here is PR #100 which fixes the remaining problems. (Wohoo, PR 100!)

1. The correct order of the value + defaultValue selection should be just the opposite of the current one:

[code]

This allows the use of both

[2016-05-16 00:01] 0711levski opened #101 "Required for Checkbox?"
Hey there,

first of all, thank you for the good work! Is it possible to require at least one checked checkbox?

I tried this, but the form doesn't invalidate:
`<FormsyCheckbox
											label="Bla"
											id="bla"
											name="bla"
											defaultChecked={this.state.bla}
											onChange={this.handleCheckboxChange}
											required
										/>`
										`<FormsyCheckbox

[2016-05-18 03:30] Mokto opened #102 "Wrap a material-ui dialog with formsy.form"
Hi,

I do not if this is formsy-material-ui or formsy-react related, but I would like to wrap all my dialog with Formsy.form so I can set type='submit' on dialog actions.

the form tag is not created so it does not work.

I hope that I am understandle enough ^^

[2016-05-22 00:40] Mokto opened #104 "[FormsyText] Accepts multiline={true}"
When tapping enter with keyboard, it starts validating.

Thanks !

[2016-05-22 15:40] Mokto commented on #104
I'm sorry, it was because i used multiline and not multiLine ^^'

[2016-05-22 15:40] #104 closed

[2016-05-23 15:25] jonmase commented on #102
Hi Mokto,

Did you find a solution to this? I've got the same problem, and am currently 'fixing' it by just putting my Formsy.Form within my dialog and then adding buttons manually at the bottom of the form, rather than using the actions attribute of the dialog. This is not ideal, but was a quick fix for the time being. I've also styled my manually added buttons to look like they would if they wer

[2016-05-23 17:19] simpixelated commented on #5
@mbrookes see #28:

After some testing with formsy-material-ui@0.4.3, formsy-react@0.18.0, and material-ui@0.15.0, I see that `FormsyText` doesn't display `validationError` unless there is a value in the field, which means `required` and even `validations="isExisty"` don't display an error on the field.

example:
[code]

The `validationError` never displays, even after invalid submit.

[2016-05-23 17:34] simpixelated commented on #5
I actually think this is an issue in formsy-react. See https://github.com/christianalfoni/formsy-react/issues/241

Basically `getErrorMessage` returns null for `required`. If it returned the `validationError`, this library would work fine. Looks like there's some workarounds on that link, so will continue to dig into it.

[2016-05-23 17:58] Mokto commented on #102
Yeah, I did what you did, creating floating buttons at the end of the dialog.

Gonna try your form attribute soon, thx !

[2016-05-23 20:32] Mokto commented on #102
@jonmase

Thanks, your form attribute works !

As I'm using electron, I do not care about browser compatibility but your can use the polyfill your article provides.

Since it's not a perfect solution, I'll let this issue open.

[2016-05-25 13:22] Sabst commented on #97
Does anyone have a workaround? This has a strong visual impact : forms are not so reactive anymore (have to move to another field to update the submit button)
I'm using material-ui 0.15.0, formsy-material-ui 0.4.3 and formsy-react 0.18.0.

[2016-05-25 20:12] devdlabs commented on #99
Maybe better to keep this issue as open till mui fixed it ?

[2016-05-29 06:10] davidascher opened #107 "requires material-ui 15.0-beta.1, which isn't available anymore"
should just be 15 or later.

[2016-05-29 06:10] #107 closed

[2016-05-29 06:10] davidascher commented on #107
already fixed in maser.

[2016-05-29 19:23] ochervak commented on #97
is there is any updates

[2016-05-29 19:45] Sabst commented on #97
There is probably an obvious fix but I could not find it... looking at alternative libs now.

[2016-05-29 19:47] ochervak commented on #97
sounds pretty bad. i used this library a lot in my project...

[2016-05-29 19:50] ochervak commented on #97
@Sabst looks like i found the "proper" solution (troll face).
I fixed issue for TextField element with next steps:
I change `handleChange` function to next form:
[code]

I'm not sure how it affect on performance but it definitely fixed this issue

[2016-05-29 19:51] ochervak commented on #97
maybe PR for this ?

[2016-05-29 21:45] Sabst commented on #97
@ochervak Well done!
Now, while checking other pending PRs, I came across this one: https://github.com/mbrookes/formsy-material-ui/pull/103/commits
It has the advantage of implementing your fix while - just in case - keeping the broken behavior by default.

[2016-05-29 21:59] damonmaria commented on #97
Regarding which pull request to use: as far as I'm aware this is a regression and so the default behaviour should be to update on each key press. But there has also been discussion about updating each key press possibly being a performance issue. So maybe having it an option like in PR #103 but with on being the default. Has anyone checked or noticed performance problems?

[2016-05-29 22:01] ochervak commented on #97
please, use #103 PR. Since having all TextField controlled is really performance critical part, however i think we need another solution...

[2016-05-29 22:23] mbrookes commented on #97
The ideal scenario is that the the form validity is checked immediately, so the submit button can be enabled without removing focus for the last field (if a text field), but that the error message for the field (if any) is only displayed when the a field loses focus.

This was the behaviour prior to the last major update, but had the performance mentioned.

[2016-05-29 23:16] mbrookes commented on #97
I haven't tested every scenario (e.g. externally controlled), but tihs seems to work as desired for uncontrolled, and does'n have the lag previously experienced:

[code]

Can everyone check and confirm if this works for your use case?

[2016-05-30 06:16] krizka commented on #97
Hello there. Sorry for long silence. My workaround looks like this gist https://gist.github.com/krizka/6be5cd3fd1a200f1dba9de6363dbe63d . Just put it in your project and import instead of FormsyText.js. I use debouncing here to validate values on input change. Unfortunately, verification on every change is slow, so debouncing helps.

[2016-05-30 06:23] krizka commented on #97
The gist above also fixes form resetting to empty values instead of `undefined`

[2016-05-30 08:25] codeaholicguy commented on #97
@mbrookes Please take a look at https://github.com/mbrookes/formsy-material-ui/pull/103, I tried to test on weak mobile device and it seem ok

[2016-05-30 10:00] Sabst commented on #97
I used the gist from @krizka (as it does not require updating the FormsyText code itself) and it worked perfectly.
My forms are quite simple so I cannot say about debounce added value.

[2016-05-30 10:42] mbrookes commented on #97
@codeaholicguy @Sabst Please test https://github.com/mbrookes/formsy-material-ui/issues/97#issuecomment-222388623  it doesn't require an extra prop.

[2016-05-30 11:00] codeaholicguy commented on #97
@mbrookes so what if I input a valid value, and after I delete or do something to make it invalid, it wont be set, right?

[2016-05-30 11:43] Sabst commented on #97
@mbrookes I think you should not test if the value is valid before setting it: it makes sense to display the error as the user types, i.e. always set the value.
If you leave the `isValidValue` test, the error feedback will be display only when the focus of the text field is lost.
Apart from that, I see the same behavior as with @krizka gist. Now shouldn't the debounce be kept anyway for more speci

[2016-05-30 11:56] mbrookes commented on #97
@codeaholicguy You're right, I missed that case. We really need to fix up the test suite and get tests working again!

@Sabst

We tried that in the past - it's horrible UX, because as soon as the user starts typing a valid value that doesn't yet meet all the criteria, they get an error. We could perhaps add a prop to enable that for specific use cases, but I don't think it should be the default be

[2016-05-30 11:59] mbrookes commented on #97
Hmm, actually, in conjunction with debounce that might not be so bad, as they'll only get an error when they pause typing, rather than immediately. I'll try it.

[2016-05-30 13:34] Sabst commented on #97
@mbrookes

Ok, I see your point. In my use-case, it appeared more like a useful hint but I agree with you on a more general approach. Will create a new issue for this new prop in case the need is confirmed.
As I set `disabled={!this.state.canSubmit}` on the submit button, do you confirm canSubmit state will be up-to-date, even in @codeaholicguy use-case above?

[2016-05-30 15:36] mbrookes commented on #97
@Sabst @codeaholicguy's PR, (which he has added debounce to) does update `canSubmit` after the debounce timeout, both to set and unset it based on the current state of the value, however the 200ms debounce is too short, so you get an error displayed after a momentary pause in typing.

Setting the debounce longer (say 400ms) helps, but then there is a lag before the submit button appears after a co

[2016-06-06 22:19] mbrookes commented on #97
Okay, I took @codeaholicguy's PR, and added some well commented code for the alternate use-case, as well as for controlled use. Take a look.

[2016-06-07 06:21] solace opened #110 "Update from props doesn't reflect in Date or Time fields"
Hi,

Not sure if I'm missing something essential here, but here's my use case.

I have a parent component which contains the `Formsy` forms with a custom form element for array fields.  `handleOnChange` updates `rows` with a new array:
[code]

ArrayFields has a render that looks a bit like:
[code]

There are also add and remove buttons to manipulate the rows.  And I have added `Input` date to comp

[2016-06-07 21:23] ornj opened #112 "Needs a new release / NPM and Repo out of sync"
Current version is 0.4.3 but the package downloaded from NPM doesn't match what is currently in master.

I noticed that `FormsyText` was not updating it's value when given new props and found that `componentWillReceiveProps` is missing in the released package.

[2016-06-07 21:36] mbrookes commented on #112
That's how development happens. If we didn't update the repo, we wouldn't have anything to release.

[2016-06-07 21:36] #112 closed

[2016-06-07 21:49] ornj commented on #112
Indeed. Do you have plans on another release or just "it happens when it happens"?

[2016-06-07 22:14] mbrookes commented on #112
Normally as soon as an issue is resolved - in this instance once #109 and #111 are merged. What's on master isn't quite there.

[2016-06-08 17:31] donaldparker commented on #45
this is working for me
[code]

[2016-06-18 03:45] dreamershl opened #114 "FormsyCheckbox isn't disabled when form is disabled"
as stated in the formsy-react, the checkbox should disable itself when form is disabled through the function

[code]

[2016-06-21 11:11] mohithg commented on #97
Facing the same issue.

[2016-06-21 11:14] krizka commented on #97
Please @mbrookes look at [my comment](https://github.com/mbrookes/formsy-material-ui/issues/97#issuecomment-222419002) as workaround

[2016-06-21 13:54] mbrookes commented on #97
@krizka https://github.com/mbrookes/formsy-material-ui/pull/109

[2016-06-22 00:59] sunvooker opened #115 "FormsText not support custom validation func"
[code]

when use custom validation func, the js run crash

[2016-06-23 16:32] sunvooker opened #116 "FormsyText with type="password", css style is wrong."
when FormsyText  with  type="password",  then the css style is wrong!!

                        <FormsyText
                            name="name"
                            validations="isWords"
                            validationError={wordsError}
                            required
                            type="password"
                            hintText="What is your name?"

[2016-06-26 03:42] sunvooker commented on #116
chrome use self style, when remember password, so this issue is strange.

[2016-06-26 04:24] #116 closed

[2016-06-27 21:56] Vaevictus opened #117 "Integrating with a typescript project"
Hi there,

I got caught out by material-ui; I thought it had form field validation built in. Anyway, I saw that this project is the recommended way of bringing in forms validation into a material-ui based project.

I've used Typescript (TSX) using the typings from definitelytyped to build my project, and I want to know how I can make use of your library within my project. Definitelytyped repo has

[2016-06-28 15:53] solace commented on #110
I have decided against using package for my purposes, but in case anyone else is stuck with this issue, this stackoverflow response provides a clumsy but sort of usable workaround: http://stackoverflow.com/questions/37019778/how-to-clear-the-text-field-in-formsy-material-ui-react

[2016-06-28 15:53] #110 closed

[2016-06-28 19:47] adamsidiali commented on #102
You can manually submit the formsy form from outside of the form by assigning the ref to your component like:
[code]
and then just call `this.formsyForm.submit()` from any other `onClick` callback in your component.

[2016-07-06 15:28] asafshen commented on #117
just put the following text under `some-file-name.d.ts` in your project's `typings` directory:

[code]

[2016-07-12 21:46] sunvooker opened #118 "Warning: Unknown props validationError, validationErrors on tag."
warning.js:44 Warning: Unknown props validationError, validationErrors on tag. Remove these props from the element. For details, see https://fb.me/react-unknown-prop
in input (created by TextField)
in div (created by TextField)
in TextField (created by FormsyText)

[2016-07-12 22:20] #118 closed

[2016-07-13 01:50] jayalfredprufrock opened #119 "React 15.2 issues warnings for unknown props."
I'm preparing a pull request to fix this, but seeing as I'm not using all the different input types in my app that formsy-material-ui supports, it could probably use some additional testers.

[2016-07-14 12:50] tb opened #121 "Validate only when field touched"
I have list of editable objects. When I add someobject to the list, it initially has name = "" and I can see "required" validation fails.

How can I prevent validation if field was not "touched" by user?

My input code looks like this:

    <FormsyText
      name="name"
      defaultValue={someobject.name}
      validations={this.nameValidations(someobject, someobjects)}
      validationErrors={th

[2016-07-15 17:51] MuffinLightning commented on #121
I would also like an answer to this.

[2016-07-15 18:08] MuffinLightning commented on #101
I would also like an answer to this.

[2016-07-18 10:48] tb commented on #121
By implementing my own FormsyText I was able to set state.touched on blur and use it like this:

    <FormsyText
      name="name"
      defaultValue={someobject.name}
      validations={this.nameValidations(someobject, someobjects)}
      validationErrors={this.state.touched && this.nameValidationErrors()}
      onBlur={(e) => this.updateSomeObject({...someobject, name: e.target.value})}
    />

[2016-07-18 10:48] #121 closed

[2016-07-18 14:16] acomito opened #122 "Google Places/Geocomplete Input?"
Is anyone aware of a formsy-material-ui option for a geocomplete?

a `<FormsyGeoComplete>` would be awesome

I'm looking at https://github.com/ubilabs/react-geosuggest

It looks like this has been suggested before: https://github.com/ubilabs/react-geosuggest/issues/69

[2016-07-19 02:08] DrkCoater commented on #119
I'm also seeing unknown "validations", "validation-errors" props.

[2016-07-20 21:25] rigelk commented on #119
Also having those warnings with FormsySelect (`menuItems`, `validationError`, `validationErrors`) and FormsyText (`validations`).

[2016-07-21 18:02] DrkCoater commented on #119
Can someone fix it pls? It's blocking my ReactJS upgrade. I can help testing.

[2016-07-21 18:03] #119 closed

[2016-07-21 18:09] DrkCoater commented on #119
thanks!

[2016-07-21 18:12] mbrookes commented on #122
@acomito This library is specifically for validation of Material-UI form fields using formasy-react, so.. no. 😄

What I _think_ you're asking for is a Material-UI version of https://github.com/ubilabs/react-geosuggest, i.e. that Material-UI AutoComplete supports retrieving suggestions from Google Maps Places API.

That's something you'd need to write as a wrapper for AutoComplete.

[2016-07-21 18:12] #122 closed

[2016-07-21 18:13] mbrookes commented on #117
Thanks @asafshen.

[2016-07-21 18:13] #117 closed

[2016-07-21 18:17] mbrookes commented on #102
Thanks @adamsidiali .

[2016-07-21 18:17] #102 closed

[2016-07-21 18:19] mbrookes commented on #101
Hi, unfortunately, this is a formsy-react issue.

[2016-07-21 18:19] #101 closed

[2016-07-21 18:21] mbrookes commented on #96
Closed in #106.

[2016-07-21 18:21] #96 closed

[2016-07-26 14:56] LeoIannacone opened #123 "Can you please make a release?"
Hi!

Can you please consider a new release with the React unknown props fixed?

Thanks in advance!
L.

[2016-07-27 09:39] felixpy commented on #123
+1

[2016-07-27 10:34] mbrookes commented on #123
Done.

[2016-07-27 10:34] #123 closed

[2016-07-30 16:50] bteepell opened #124 "Components question"
Great repo.  Are you planning on adding more components.  Like chip and dropdown?  And maybe a multi select.

[2016-07-30 21:09] mbrookes commented on #124
Only form components need formsy-react.

[2016-07-30 21:09] #124 closed

[2016-07-31 16:50] bteepell commented on #124
The reason I asked is to help out with a multi select.  I have a select list of values that the users can add and remove from the list.   When I open my form i populate with the values it has already. I then provide a selection excluding what was previously selected.  So you can change the list before submit.  Chips seems to be the obvious choice as they can be delete and I can add from my selecti

[2016-07-31 16:57] mbrookes commented on #124
Sorry, still not sure what this has to do with formsy-react / formsy-material-ui.

[2016-08-03 08:52] thienanle opened #125 "[FormsyText] Can't programatically set value"
In my component I have
[code]
I try to set its value with the below code, but nothing happens.
[code]
What am I doing wrong?

[2016-08-08 07:30] asafshen opened #126 "FormsyRadioGroup `defaultValue` with 0 does not work"
1. If you set `defaultValue` prop to a 0 value, the radio does not consider

[code]

[2016-08-09 03:22] timothyallan commented on #125
I have the same issue with a custom onBlur function using ```setValue``` via a ref. I can see it hit the setValue function in Mixin.js, set the state once, then call my onBlur function, get the correct value... but never show it.

[2016-08-09 19:52] bteepell opened #127 "Firefox required on FormsyText"
First - Great library, I was looking at doing the same thing and glad I found this.
Second - Question about Firefox.  I have a form with a few text fileds.  In chrome and IE they show up fine but in Firefox the Fields with required attribute show up with red around my multiLine? Anyone else seen this?
   <FormsyText id='Name' key="Name'
                        name="Name"
                        f

[2016-08-10 23:51] #127 closed

[2016-08-12 12:32] bteepell opened #128 "Question: Validation"
Has anyone done validation on multiple rules.  I can do maxLength and minLength together but what if I wanted to an in isEmptyString along with max and min?
    validations={{maxLength:255, minLength:2}}
    validationErrors={{maxLength:'Maximun length is 255', minLength:"Minimun length is 2"}}/>

[2016-08-13 05:52] cyberwombat opened #129 "ops"

[2016-08-13 05:52] #129 closed

[2016-08-16 15:28] bteepell opened #130 "Validation isEmptyString doe not clear"
With FormsyText  set to validations="isEmptyString" validationErrors={{isEmptyString: 'Sting should not be empty"}}
 If you type a space in the text it validates but then correcting this does not remove the validation error.

[2016-08-19 17:16] #128 closed

[2016-08-20 13:55] bteepell commented on #126
Im having the same issue but my values are 5 and 9.  The defaultSelected does not get selected

[2016-08-20 20:00] #130 closed

[2016-08-20 20:21] bteepell opened #131 "Checkbox help"
I have tried many variations for getting a checkbox to show on load that it is true or false.

I am programatically setting the value.  I can see my value is true or false but when I add that to either checked or defaultChecked it does not show as checked when page render().  always shows unchecked.  ???
<FormsyCheckbox checked={this.state.mycheck} name="myCheck"/>  or
 <FormsyCheckbox defaultChec

[2016-08-20 20:50] bteepell commented on #131
Well we got it figure out.  Changed the DefaultChecked to value and that worked.

[2016-08-20 20:50] #131 closed

[2016-08-29 14:53] acomito commented on #89
You'll need to write some code with state or refs to get this to work-- which isn't the end of the world but it would be nice to have a stand alone component mixed into formsy-material-ui's submit method. Formsy components has a nice <File /> component.

[2016-09-01 00:30] dsmurl opened #132 "Formsy .reset(value) not updating components"
In my code,

[code]

The field doesn't visually update, but the _value in the formsy react state is correctly set to "Sample Task".  Is this is bug or am I doing it wrong?  If I'm doing things correctly then there may be a problem with the reset(value) functionality.

[2016-09-06 04:13] Stupidism opened #133 "[BUG]: Formsy-react is using state._value but formsy-material-ui using state.value"
I found the bug in your source code because Chrome auto-filled but Formsy-react not recieving onChange event. I think it's a bug widely ranged in this repo that guys like me who don't know well about this repo can't fix it totally.
## Cause:

Chrome autofill triggers [change event](http://stackoverflow.com/questions/11708092/detecting-browser-autofill)
Formsy-react is using [this.state._value](htt

[2016-09-06 04:15] stupidisum commented on #133
I think there are some related issues:
- #132

[2016-09-06 14:56] srinivaasang1 opened #134 "formsy select is not working properly. i couldnt see the drop down"
import React from 'react'
import Formsy from 'formsy-react'
import getMuiTheme from 'material-ui/styles/getMuiTheme'
import MuiThemeProvider from 'material-ui/styles/MuiThemeProvider'
import Paper from 'material-ui/Paper'
import RaisedButton from 'material-ui/RaisedButton'
import MenuItem from 'material-ui/MenuItem'
import { FormsyCheckbox, FormsyDate, FormsyRadio, FormsyRadioGroup,
    FormsySele

[2016-09-08 11:54] andrewcaulfield opened #135 "AutoWidth is breaking select options with large text values"
When applying autoWidth to FormsySelect it breaks the select option when the text is long in length.

![screen shot 2016-09-08 at 12 51 53](https://cloud.githubusercontent.com/assets/3205699/18348427/327cd8de-75c3-11e6-8b53-7e5447a138d1.png)

Have tried applying the following

style={{ textOverflow: "ellipsis", overflow: "hidden", whiteSpace:"pre" }}

But still doesn't look great

![screen shot 20

[2016-09-09 13:11] lucasbento opened #136 "How to programatically set an input value after it changed"
First of all, thank you for this, really helped me.

Is there any way to change the value of an input when user fulfills it?

I'm trying the following and it is not working:

[code]

[code]

[2016-09-09 13:37] lucasbento commented on #136
I was able to do this using `<FormsyText />`'s `value` prop, e.g.:

[code]

[code]

But I still have a feeling that this should be handled by formsy-react.

[2016-09-12 02:52] stupidisum commented on #97
Looks like the author is busy. Anybody else has access to fix bugs? @mbrookes

[2016-09-14 00:11] mbrookes commented on #97
@stupidisum I've added several contributors as collaborators over the last year, but no-one has felt able to be more proactive.

[2016-09-14 02:53] codeaholicguy commented on #97
@stupidisum You can take a look at https://github.com/mbrookes/formsy-material-ui/pull/109

[2016-09-14 23:19] #97 closed

[2016-09-16 10:49] leMaik opened #138 "[Discussion] Add a wrapper for chip input"
I implemented a material-ui control for chip input that can be used with formsy. A user [suggested to collaborate with you](https://github.com/TeamWertarbyte/material-ui-chip-input/issues/2#issuecomment-247563629) so that may be added to formsy-material-ui.

As you may see in my answer to that comment, I'm really unsure if that's an option or if there should be a new formsy-material-chip-input pro

[2016-09-16 19:23] mbrookes commented on #138
Thanks for asking. I'd like to avoid the dependency here (until your chip input makes it into Material-UI :), but happy to promote a separate project from the README. Feel free to submit a PR for that, and to grab any code from here to jumpstart with if it helps.

[2016-09-18 09:22] stupidisum commented on #97
When will you release this?
Btw, your repo is not containing latest build (the lib dir), so I can't use your latest version from github.

[2016-09-22 08:03] Patrik-Glendell commented on #134
selectFieldItems seems to not be implemented in the example, i think you would need to populate it with your own menuItems.

[2016-09-23 07:30] stupidisum commented on #97
@codeaholicguy @mbrookes

[2016-09-23 08:00] lefnire commented on #97
@stupidisum in a pinch you can add a bit to your own `package.json` to run this module's build step before your own, see my [diff example](https://gist.github.com/lefnire/5784a0ba6793396c408f17d488a79e0d)

[2016-10-06 20:59] morenoh149 opened #140 "specify date format"
my api requires dates submitted in `YYYY[-MM[-DD]]` or `yyyy-mm-dd` format. How can I tell the `FormsyDate` component what format to store the date in?

I see some references to a `formatDate` prop https://github.com/mbrookes/formsy-material-ui/search?utf8=%E2%9C%93&q=formatdate&type=Issues but it's not in the docs

[2016-10-06 21:04] morenoh149 commented on #140
actually I think I can simply format the value returned from the input before submitting to the api instead.

[2016-10-06 21:31] morenoh149 opened #141 "Support matchRegexp"
I'm trying to display an error when an input does not pass [matchRegexp](https://github.com/christianalfoni/formsy-react/blob/168521e5780bb4c2f0910bd307f1c3fb5f4419a7/API.md#validators) validation. Does formsy-material-ui support this?

[2016-10-06 22:05] mbrookes commented on #140
Any props supported by Material-UI are passed through, incuding `formatDate`.

[2016-10-06 22:05] #140 closed

[2016-10-06 22:05] mbrookes commented on #141
It supports whatever formsy-react does...

[2016-10-06 23:35] morenoh149 commented on #141
perhaps I'm not using it correctly? I did

[code]
and indeed the validation is in effect because the submit button is disabled but I'm not seeing an error text near the input as I'd expect.

[2016-10-07 03:22] codeaholicguy commented on #141
@morenoh149 currently, the value is only updated when you blur out of the `FormsyText`, if you want it update immediately, take a look at https://github.com/mbrookes/formsy-material-ui/pull/109

[2016-10-07 03:24] morenoh149 commented on #141
@mbrookes thoughts on cutting a new release?

[2016-10-08 22:51] morenoh149 commented on #141
the problem was I was missing the `validationError` prop. So the solution is
[code]

[2016-10-08 22:51] #141 closed

[2016-10-09 20:57] morenoh149 opened #142 "FormsySelect required gives no feedback"
I have
[code]
when I submit the form the form refuses to submit, I assume because the required attribute on `FormsySelect` is there. But Chrome does not provide a visual indicator that a value is required. Any thoughts on fixing this?

[2016-10-10 08:09] ShubhamGupta commented on #88
@mdarif you'll either have to remove `Login.contextTypes` declaration or specify everything that is required in contextTypes. Hope this helps.

[2016-10-10 13:35] jmsherry commented on #40
I think it's still present in the example code:
https://github.com/mbrookes/formsy-material-ui/blob/master/examples/webpack-example/src/app/Main.js#L100

[2016-10-10 13:38] jmsherry commented on #134
Yes, it looks like the menuItems prop was deprecated.
See https://github.com/mbrookes/formsy-material-ui/issues/40

[2016-10-10 14:01] jmsherry opened #143 "Formsy-Select not passing value"
Hi there,

When I'm using:
[code]
with
[code]

...I get a select that looks fine and seems to work OK, but when the handler

[code]

...is called, event.target logs out as the menu item DOM element `<div>Amazon UK</div>`, without any value attached to it. (So event.target.value is undefined).

Am I doing something wrong??

[2016-10-10 15:30] jmsherry commented on #143
OK, sorry, found it: (https://stackoverflow.com/questions/39076399/cant-get-the-target-attributes-of-material-ui-select-react-component)

You have to bind properties to your event handlers, you can't really access them through the event object because the onTouchTap from the menuItems is what is returned, not an event with the select in it...

I still think this is troubling behaviour, but I know

[2016-10-10 15:30] #143 closed

[2016-10-10 20:38] lookapanda opened #144 "Warning: Unknown prop `updateImmediately` on <input> tag. Remove this prop from the element."
[code]

I get the error:

    in input (created by TextField)
    in div (created by TextField)
    in TextField (created by FormsyText)
    in FormsyText (created by Login)
    in div (created by Login)
    in form (created by Formsy)
    in Formsy (created by Login)
    in div (created by Login)
    in div (created by Login)
    in div (created by Login)
    in Login (created by RouterContext)

[2016-10-11 03:48] codeaholicguy commented on #144
@lookapanda did you use directly from github? The code with`updateImmediately` prop has not been pushed to npm yet.

[2016-10-11 08:42] lookapanda commented on #144
That explains a lot. Will try out the github version then :) Thanks!

[2016-10-11 08:42] #144 closed

[2016-10-12 21:32] rojobuffalo opened #145 "Support material-ui@0.16.x"
Material UI v0.16 landed on Oct 3.

[2016-10-13 22:09] EngineerDiab opened #146 "Cannot resolve module"
Module not found: Error: Cannot resolve module 'formsy-material-ui/lib' in /usr/src/app/src/components

I see it in my node_modules, what is wrong?

[2016-10-13 23:24] rojobuffalo opened #147 "Request for tag v0.5.1"
Nice job on #109 . Having the `updateImmediately` option is helpful. Could we please tag it? Would v0.5.1 be ok or maybe v0.5.1-rc1?

By the way, this project is super helpful--thanks.

[2016-10-13 23:46] mbrookes commented on #147
Sorry it's taken a while to get a release out - I'm in the middle of moving house right now, but as soon as things settle I'll get on it.

[2016-10-14 03:42] codeaholicguy commented on #146
What code you use for import `formsy-material-ui`? `import {FormsyText} from 'formsy-material-ui/lib'`, isnt it?

[2016-10-14 03:44] EngineerDiab commented on #146
yeah I used that. it couldn't find the library in node_modules folder

[2016-10-14 03:46] codeaholicguy commented on #146
I think there was some error when your code was built, could you please run `npm run build` and show me the result?

[2016-10-14 10:09] psmarcin commented on #147
+1

[2016-10-14 16:09] EngineerDiab commented on #146
Thanks for the help. It was an error on my end!

[2016-10-14 16:09] #146 closed

[2016-10-18 22:45] simpixelated commented on #142
See https://github.com/mbrookes/formsy-material-ui/issues/5

[2016-10-19 03:59] efremfi opened #148 "how would i declare formNoValidate with this wrapper"

[2016-10-19 04:13] efremfi commented on #148
I added noValidate to the Formsy.Form component. and that seems to work.
but now i cannot see the errors i declare on the FormsyText. I tried validationErrors and errorText

[2016-10-19 04:20] efremfi commented on #148
I got it to work. instead of validations="isEmail", i was doing validators="isEmail". Problems of working too late 😆

[2016-10-19 04:20] #148 closed

[2016-10-19 04:46] efremfi opened #149 "Required error shows even when the input field isn't touched. how to solve this?"

[2016-10-19 14:27] morenoh149 commented on #142
duplicate

[2016-10-19 14:27] #142 closed

[2016-10-20 00:21] mbrookes commented on #147
Done, and published to npm. @codeaholicguy - could you let me have your nam username, and I'll add you as an owner.

[2016-10-20 00:21] #147 closed

[2016-10-20 00:38] codeaholicguy commented on #147
@mbrookes my npm username is `codeaholicguy`

[2016-10-20 05:19] efremfi opened #150 "0.5.1 release value doesn't get updated on its own."
When i type in the box, the value field doesnt get updated. but when i install 0.5.0. it works just fine.

[2016-10-20 07:43] igorko82 commented on #150
I have the same problem

[2016-10-20 09:39] codeaholicguy commented on #150
This is critical issue, which fixed in https://github.com/mbrookes/formsy-material-ui/pull/151

[2016-10-20 09:57] mbrookes commented on #147
Hum, okay - I thought I tried that - I'll try again.

[2016-10-20 09:58] mbrookes commented on #147
Done!

[2016-10-20 16:51] #150 closed

[2016-10-20 18:48] alexhawkins opened #152 "Validations not working in 0.5.2"
Validations stopped working when I upgraded from 0.5.1 to 0.5.2. My form looks like this, when I comment out validations, everything works. Without validations, no cigar. Any ideas?

[code]

[2016-10-21 07:06] Patrik-Glendell commented on #145
status on this ?

[2016-10-22 17:51] rojobuffalo commented on #152
Do you have an error message?

[2016-10-23 06:49] fjmva opened #153 "Is there any plan to support material ui's latest release? thanks"

[2016-10-23 10:46] bteepell commented on #152
Im seeing this too.  Seems with validation  in the email field it does not allow edit.  There are no console errors. Just will not let edit happen.   was working for me with 0.5.0 and formsy-react 0.18.1

[2016-10-26 03:38] joelkoz commented on #152
I am seeing this also. It has to do with any validations, including "required."  The culprit seems to be line 81 of FormsyText.js, where a "this.resetValue() is called if the field is not valid.  This results in weird behaviors such as:

1. If you have a validation like "isEmail", and the field is blank, typing ANYTHING will be ignored (as the first character is not a valid email address, so the f

[2016-10-26 23:22] joelkoz commented on #152
UPDATE: I forked the project today to make a change on another issue, and while the "resetValue()" is still there in the code, it now appears to work for me.  For those who are experiencing this problem, you may want to fork the project and build from source and see if you still have the issue.

[2016-10-28 03:49] rmoskal commented on #152
I'm a new user of the package and it also seems that many validations are broken.  isLength and minLength don't let me type anything in input fields. I can reproduce all the same errors with the sample webpack app you ship so I'm pretty sure it's nothing I'm doing wrong.

[2016-10-30 18:17] rojobuffalo commented on #153
duplicate of #145

[2016-10-30 18:48] rojobuffalo commented on #152
I'm also seeing this issue. When you type in an input that has validations, nothing happens to the input--it remains blank. This issue is not present in v0.5.0, but does show up in v0.5.1 and v0.5.2

[2016-10-31 01:53] joelkoz commented on #152
For those who are experiencing this problem: are you specifying the "updateImmediately" property?  I looked at my code again from the last time I reported that I had been experiencing this issue, and I noticed that I started setting the "updateImmediately=true" property in a code change.  The FormsyText.js component takes a different code path if updateImmediately is set to truthy, and it AVOIDS t

[2016-10-31 02:18] joelkoz commented on #152
@mbrookes I just confirmed (at least on my machine) that an "npm test", which appears to test FormsyText, fails on the current code in the master branch for 0.5.2.  It complains about a lack of an "text is too long" invalid error.  It DOES pass with the the above pull request, so I think the removal of that line is important.

[2016-10-31 13:05] mbrookes commented on #152
I sincerely apologise that these sorts of problems have crept in to recent releases - the fault is entirely mine.

Long story short, I haven't been actively developing anything for the last 6 months or so. I've tried to keep up with critical fixes that the community has kindly submitted, but my inability to properly test fixes before releasing them has resulted in unfortunate problems.

If anyone

[2016-10-31 16:35] rojobuffalo commented on #152
@mbrookes:

You've done a great job with this project, dude. I've shown it to several people who really dig it. I changed my username, but it was @rblakeley -- we collaborated on fixing a bug that I think led to this project. I'm game for taking over if you want.

[2016-10-31 18:53] rmoskal commented on #152
I'd be happy to lend a hand to fix things and add more tests, etc.

On Mon, Oct 31, 2016 at 12:35 PM Ryan B. Blakeley <notifications@github.com>
wrote:

--

______________
Robert Moskal
Most Media
Brooklyn, USA

[2016-10-31 23:59] mbrookes commented on #152
Hey Ryan, good to hear from you! You're still credited in the README for the original idea. 👍

Thanks to you and @rmoskal for offering to step in. I've added you both as collaborators, joining @codeaholicguy who has done great work already! I'll figure out NPM access when I get a chance (it's midnight here), but Nguyễn has access for now if you need to publish something.

Thanks again, and shout i

[2016-11-01 18:07] joelkoz commented on #145
FYI, I reviewed the changes in Material UI from 0.15 to 0.16, and I didn't see any changes that should affect this project.  I am using formsy-material-ui without any issues (with the exception of the pull requests I've already made), so I think this is a simple matter of updating the dependencies in package.json to the new version of materia-ui

[2016-11-03 22:03] Casy commented on #152
keep this repo alive! 😁

[2016-11-03 22:14] rmoskal commented on #152
It looks to me like the problem happens when you don't specify a validationError property. The logic that we've all pointed to just needs to be tweaked.

If no one else takes care of it I will in the next few days.

[2016-11-03 22:22] Casy commented on #152
@rmoskal setting updateImmediately={true} the error disapears.
if @mbrookes cant keep the repo, you should
@joelkoz can help to.

[2016-11-03 22:29] rmoskal commented on #152
Then maybe there is no error and just a lack of documentation.

Though it does seem like this is a breaking change.

I just started using the package myself.

On Thu, Nov 3, 2016, 6:22 PM Casy <notifications@github.com> wrote:

@rmoskal <https://github.com/rmoskal> setting updateImmediately={true} the
error disapears.
if @mbrookes <https://github.com/mbrookes> cant keep the repo, you should
@joelk

[2016-11-04 19:18] joelkoz commented on #152
@rmoskal - No, there is definitely a bug that was recently introduced.  It just so happens that if you use updateImmediately={true} property, the text control takes a different code path and avoids the validation bug.  So, that is a work-around, not a fix.

If anyone is interested, I have a branch on my fork of this project named "current-fixes" which contains the two fixes that I have made to the

[2016-11-05 01:01] mbrookes commented on #152
@joelkoz Could you submit your fixes as a PR? It will make it easier to review. Thanks so much!

[2016-11-05 04:54] joelkoz commented on #152
I did already. There are two from me waiting.

-jk
(sent from my iPhone)

[2016-11-05 16:49] joelkoz commented on #152
@mbrookes - I just added a third PR to change the material-ui version to 0.16.0 to fix #153.  There don't seem to be any breaking changes in 0.16.0 that affect this project.

[2016-11-09 12:36] kdichev opened #158 "How to show input error message programmatically"
I have an email field that I want to validate on submit click so on the click I do check if this is an email, if it is correct I can pass tru if not I get return false.

[code]

Do you guys have any ideas, tips?

[2016-11-09 13:17] codeaholicguy commented on #158
@kdichev You can take a look in https://github.com/christianalfoni/formsy-react/blob/master/API.md#validations, use `validations` with regex and customize`validationErrors`

[2016-11-10 20:30] MickaelBZH commented on #152
How is it going?

[2016-11-15 20:12] Telemakhos commented on #152
What's up with the PRs fixing this? Hello?

[2016-11-16 19:11] astonm opened #161 "Calling setValue on FormsyText doesn't work"
The way `formsy-react` is built, the text field is assumed to have a `_value` in its state that is modified by `setValue()` and retrieved with `getValue()`. However, the implementation here of `FormsyText` holds its own state variable `value` that represents the displayed state of the text input. So in order to set the displayed and backing value of the `FormsyText` you actually need to call both

[2016-11-17 01:46] rojobuffalo commented on #145
Closed by #157

[2016-11-17 01:46] #145 closed

[2016-11-17 18:23] rojobuffalo commented on #152
Just merged several PRs, including those submitted by @joelkoz aimed at fixing this. If we could get some thumbs up on this comment to signal that the `@latest` is solving this issue, then we can close.

[2016-11-17 18:24] rojobuffalo commented on #153
Closed by #157

[2016-11-17 18:24] #153 closed

[2016-11-17 18:26] rojobuffalo commented on #134
@srinivaasang1 were you able to solve your issue or do we need to look at this as a potential bug still?

[2016-11-18 20:38] jadus commented on #152
@Telemakhos Sorry but I'm not an npm power user. How can I install joelkoz fork ? Can't find a good tutorial to do this.
Thanks a lot

[2016-11-18 22:21] Casy opened #165 "[BUG] prop locale in FormsyTime"
FormsyTime its TimePicker in material UI, this component allow a 'locale' prop, but FormsyTime not.

[2016-11-19 12:44] mbrookes commented on #165
Any props not consumed or transformed by the wrapper are passed to the underlying component.

[2016-11-19 12:44] #165 closed

[2016-11-19 19:19] joelkoz commented on #152
@rojobuffalo - npmjs currently has the old 0.5.2 as the latest version.  Any reason to not bump up the patch version and publish a 0.5.3?  We know for sure that what is out there is broken, so it can't get any worse.

[2016-11-19 22:48] mbrookes commented on #152
@rojobuffalo Let me know if you need npm owner rights. @joelkoz I invited you as a collaborator. 👍

[2016-11-20 01:21] rojobuffalo commented on #152
@joelkoz I was waiting for confirmation from someone else that the latest updates are all working properly as they see it.

[2016-11-20 14:24] Telemakhos commented on #152
@rojobuffalo Working ok for us.. I think it's safe to bump up the verson.

@jadus You do it with ```npm i <repoURL>``` and then building if required, but I think you should just wait and install the official version once they publish it on npm...

[2016-11-20 16:51] GinjiBan opened #167 "Support material UI 0.16"
I got the following error when installing my modules :

`npm WARN formsy-material-ui@0.5.2 requires a peer of material-ui@^0.15.0 but none was installed.
`
Using material-ui@0.16.4

[2016-11-21 03:11] #45 closed

[2016-11-21 03:37] rojobuffalo commented on #152
@mbrookes I do need npm access. My npm username is rojobuffalo.

[2016-11-21 04:10] codeaholicguy commented on #152
@rojobuffalo (cc @mbrookes) I added you into npm, please check it again

[2016-11-21 15:32] Hotell commented on #167
I guess this can be closed https://github.com/mbrookes/formsy-material-ui/commit/7498119e9f660f6d7b9c63f32449baadc4954f1a

[2016-11-21 17:10] #167 closed

[2016-11-21 18:06] mbrookes opened #169 "[CHANGELOG] Update for 0.5.3"
Add all the recently merged PRs.

[2016-11-21 18:08] mbrookes opened #170 "Create formsy-material-ui org?"
Now this is a community run project, I'm wondering if it would make sense to move it under its own org (or is it too niche for that?)?

[2016-11-21 18:27] rojobuffalo commented on #152
Thanks @codeaholicguy. Just published `0.5.3`

[2016-11-21 18:27] #152 closed

[2016-11-21 18:37] #169 closed

[2016-11-21 22:17] Casy opened #173 "Validation error when value is pre defined"
I have this component:

`<FormsyText
                  floatingLabelText='Phone'
                  name='phone'
                  fullWidth={true}
                  updateImmediately={true}
                  validations={{
                    isNumeric: true,
                    minLength: 5,
                    maxLength: 50
                  }}
                  validationErrors={{

[2016-11-23 06:09] semiautomatix commented on #127
How was this resolved? I'm getting it on all required fields.

[2016-11-23 09:22] thearabbit opened #175 "don't show anything after run "npm start"!"
After `clone, npm install` and then `npm start`.
but don't show anything with `http://localhost:3000/`
[code]
Excuse me, I use `Meteor JS`, and before I used to tried `Formsy Example` with `Meteor`.
Why don't this repo?

[2016-11-23 09:50] GO345724 opened #176 "Formsy TextArea"
Do we have formsy textarea components?

[2016-11-23 13:45] joelkoz commented on #175
You need to upgrade your project to use the 2.0.x version of react-tap-event-plugin.

[2016-11-23 13:47] joelkoz commented on #176
The FormsyText component has a "multiline=true" attribute you can use.

[2016-11-24 01:14] thearabbit commented on #175
Thanks for your reply, but still get error after update `react-tap-event-plugin`
[code]

[2016-11-24 20:06] #28 closed

[2016-11-24 20:07] rojobuffalo commented on #5
Closed by #105

[2016-11-24 20:07] #5 closed

[2016-11-24 20:12] rojobuffalo commented on #176
Formsy handles form logic. The material-ui component library is its own thing. This project bridges those two projects so that they work together smoothly.

The thing you're asking about is the material-ui component library: Those docs are here: http://www.material-ui.com/#/components/text-field.

[2016-11-24 20:12] #176 closed

[2016-11-28 18:17] ddela-cr opened #177 "AutoComplete unknown props `validationError`, `validationErrors`"
Hi, this code produces the following error :

[code]

I tried with AutoComplete from material-ui, it works fine

[2016-11-28 23:31] sambomartin opened #179 "How to show required message after submit?"
Hi, I have a formsy-mui form, a text box.

`  <FormsyText
                floatingLabelText="Name" required name="Name" style={fieldStyle}
                />`

How to I get the text box to show an error if it's a required field thats not been entered?

I can get the regex working (immediately updating) but not submit validation

thanks
Sam

[2016-11-29 15:20] achtan commented on #133
can u pls fix this

[2016-11-29 15:20] achtan commented on #132
hi, any luck with this one?

[2016-11-29 15:43] dsmurl commented on #132
Ya i pulled formsey out of my project.  It fights with the component state
and the redux state too much.  My form is too complexe for a general
library like formsey.  Sorry for the no helpy.  :/

On Nov 29, 2016 9:20 AM, "David Ďurika" <notifications@github.com> wrote:

[2016-11-30 07:33] Stupidism commented on #133
@achtan It seems this repo is not maintained now. I'm considering use redux-form instead.

[2016-11-30 17:34] ddela-cr opened #180 "DatePicker, TimePicker do not update"
Controlled DatePicker and TimePicker update only the first time an even is fired, then they don't change the value anymore. I have a Select input that changes the state onChange.

[code]

I don't know if this is a Formsy or Formsy material issue. I tried the material-ui TimePicker component and it works fine. Thanks

[2016-12-01 01:05] rojobuffalo commented on #114
is the formsy checkbox the only element that this happens with?

[2016-12-01 01:06] rojobuffalo commented on #115
Last I tried this it worked for me. Are you or anyone else still having this error?

[2016-12-01 01:09] rojobuffalo commented on #133
This looked like a pretty well explained bug that should be fixed. I'm going to reopen. Also, I've seen no evidence that formsy-react is no longer being maintained. Can anyone else lend any credibility to that claim?

[2016-12-01 09:19] weits commented on #177
Did you resolve it somehow? I have exactly the same issue ...

[2016-12-01 12:13] ddela-cr commented on #177
apparently #119 fixes it but still errors, let me know if you find a fix

[2016-12-01 17:16] ddela-cr opened #181 "onToggle does not fire event"
[code]
The Formsy component does not log on console but the second does.

[2016-12-02 05:22] Stupidism commented on #133
Sorry, I wanted to say `formsy-material-ui` is not maintained, at least, community is not active. As I can see, #97 was issued on May, and it's not fixed yet, which is actually an important bug.

[2016-12-02 05:35] rojobuffalo commented on #133
#125 is closed. Did #109 not get it right?

[2016-12-02 11:07] ddela-cr commented on #177
@weits have you figured out a fix?

[2016-12-04 00:40] rojobuffalo commented on #133
Hey @Stupidism, in your quick fix example, it doesn't look like you `setState({_value:...`. Was that a typo? Or where would you set `_value`?

[2016-12-05 07:53] Stupidism commented on #133
`this.setValue` is the same as `this.setState({ _value })`. It's something from `formsy-react`

[2016-12-05 08:02] Stupidism commented on #133
Actually, I don't see necessity to use `this.state.value` from my glimpse. I think maybe it's a legacy when `formsy-react` change from `value` to `_value`, which is a good change, but `formsy-material-ui` didn't follow up. Major bugs happend and someone found that add `this.setValue() with this.setState({value})` together wound fix it. As a result, it's not fixed in somewhere, like here. And that'

[2016-12-05 11:24] Stupidism commented on #133
Sorry for my arbitrary words before. that's what I was thinking when creating this issue.

I took a look at the current code and latest commits. You are doing a great job, saving a dying repo. @rojobuffalo

Now I find that this issue is somehow solved already. The original title was `Chrome auto-filled but Formsy-react not recieving onChange event. `.

This issue was one of two things that bothere

[2016-12-05 11:24] #133 closed

[2016-12-05 16:40] rojobuffalo commented on #133
@Stupidism ok sounds good.

[2016-12-06 08:55] Stupidism opened #183 "FormsyAutoComplete not update after select a result"
![image](https://cloud.githubusercontent.com/assets/5801015/20919002/aa1015e4-bbd4-11e6-915e-6522853950bf.png)

Look at the auto-complete field. I typed `s` and selected `Weeknights`, but the result after submit is still `s`

[2016-12-07 20:53] rojobuffalo commented on #183
I merged the PR for the Autocomplete component without thoroughly reviewing it. That was my mistake. What does your code for using that component look like?

[2016-12-07 23:33] VanessaRLewis commented on #175
In the /examples/webpack-example/package.json file make the following changes:

  "dependencies": {
    "formsy-react": "^0.18.0",
    "formsy-material-ui": "^0.5.0",
    **"material-ui": "^0.16.0",
    "react": "^15.4.0",**
    "react-dom": "^15.0.1",
    **"react-tap-event-plugin": "^2.0.0"**
  }

Delete the "node_modules" folder. Run "npm install" to install the new dependencies  & finally "npm

[2016-12-08 00:30] VanessaRLewis commented on #183
I experience the same problem when running the sample webpack SPA.

[2016-12-08 04:15] Stupidism commented on #183
This is the webpack-example inside the repo. @rojobuffalo

[2016-12-08 04:18] Stupidism commented on #183
I added onNewRequest, searchText and value props to use it as a controlled component. You can use this as a temp solution before it's fixed.

[2016-12-08 07:03] thearabbit commented on #175
Now it work fine.
👍

[2016-12-08 07:03] #175 closed

[2016-12-08 19:37] astonm commented on #179
I believe this was fixed by #105, but it hasn't made it to npm yet.

[2016-12-09 00:13] ddela-cr commented on #177
[this issue](https://github.com/christianalfoni/formsy-react/issues/409) should fix the issue. Please update formsy-react dependency to 0.18.1

[2016-12-10 08:17] weits commented on #177
I use just selects until it is fixed. My formsy-react is at version 0.18.1 so I doubt it will help.

[2016-12-14 16:01] LordBastor commented on #179
@sambomartin Did you manage to get this to work in any way?

I'm trying to setup some regex to just make the required error appear somehow, but it doesn't seem to be working. Cheers.

[2016-12-28 06:11] charleskoehl commented on #181
forsmy controls all emit onChange instead of onToggle and others

[2017-01-06 22:14] Casy commented on #177
any solution??

[2017-01-06 22:19] #173 closed

[2017-01-07 17:08] kouak commented on #114
There's not a single `this.isFormDisabled()` check in the codebase. The issue should happen with all formsy-material-ui components.

[2017-01-11 17:02] Casy commented on #183
can we fix this now? @rojobuffalo

[2017-01-27 08:33] stereoit opened #189 "ERROR during build in examples"
Hi, I am getting errors:

`ERROR in ./~/react-tap-event-plugin/src/injectTapEventPlugin.js
Module not found: Error: Cannot resolve module 'react/lib/EventPluginHub' in /home/rsmol/Code/git/formsy-material-ui/examples/webpack-example/node_modules/react-tap-event-plugin/src
 @ ./~/react-tap-event-plugin/src/injectTapEventPlugin.js 23:2-37
`
during the build of the webpack-example module. I've tried

[2017-01-30 23:55] #114 closed

[2017-01-31 00:02] rojobuffalo commented on #189
I think we just fixed this with #187.

[2017-01-31 00:03] rojobuffalo commented on #183
I think we just fixed this with #184

[2017-01-31 00:04] rojobuffalo commented on #177
Was this a dup of #183? I think #184 fixes this.

[2017-02-01 01:53] astonm opened #190 "Create v0.5.4 and push to NPM"
There are a bunch of PRs that have been pulled in since the last release was cut in November, and it would be nice to be able to use some of the new functionality and fixes.

I checked with @rojobuffalo and @mbrookes, it seems like you have the power to make this so?

[2017-02-01 04:11] rojobuffalo commented on #190
I agree that it would be good to tag a new version. Just to be clear, I don't have permission to do that. FYI, if you're in a pinch you can use `npm install mbrookes/formsy-material-ui` to install from the master branch.

https://docs.npmjs.com/cli/install

[2017-02-01 19:27] jolan commented on #190
I'm trying to just use it from git but that has devolved into learning how to get webpack/babel to load/transpile src/*.jsx and failing miserably.

Pretty please, release an update.

[2017-02-01 19:47] astonm commented on #190
@jolan you can run `npm run prepublish` (or really, `npm run build`) to transpile the files, or if you want `npm install` to do it for you (say as part of a deploy), you can clone the repo locally and then run `npm install path/to/local/checkout` which will cause `npm` to run `prepublish`. Why `npm install` ends up running `prepublish` on locally defined packages and NPM packages but not ones from

[2017-02-01 19:57] jolan commented on #190
Thanks, I ended up doing just that -- cloned the repo, transpiled, added the lib directory to my fork, and pointed there.

[2017-02-01 20:04] rojobuffalo commented on #190
Just tagged v0.5.4 on GitHub but don't have access to publish to npm. @mbrookes would you consider [adding another npm owner](https://docs.npmjs.com/cli/owner)?

[2017-02-01 20:09] mbrookes commented on #190
@rojobuffalo Glad to - just not on the right machine at the moment.

Would you mind adding the changes to the changelog? I had been trying to credit the PR author, and it would probably be even better to also include the PR #, but as much as you care to do. Not for me to dictate at this stage!!!

[2017-02-03 02:42] mbrookes commented on #190
You sure? I just double-checked, and you're already a maintainer on NPM...

[2017-02-03 18:21] rojobuffalo commented on #115
Closing due to no response.

[2017-02-03 18:21] #115 closed

[2017-02-03 18:23] rojobuffalo commented on #125
Please test with latest v0.5.4. Think this is fixed now.

[2017-02-03 18:25] rojobuffalo commented on #190
Hot damn! Didn't realize that I had been given permission for that. Thanks.

[2017-02-03 18:25] #190 closed

[2017-02-03 18:25] #189 closed

[2017-02-03 18:26] #183 closed

[2017-02-03 18:26] #179 closed

[2017-02-03 18:27] rojobuffalo commented on #177
Please re-try with latest v0.5.4

[2017-02-06 09:06] Seke1412 opened #191 "Very poor performance"
The latest version 0.5.4 have a very poor performance while checking and validating form (onChange event). It works fine on 0.5.3 and backwards

[2017-02-06 10:49] codeaholicguy commented on #161
Related to comment in https://github.com/mbrookes/formsy-material-ui/pull/174, I think you should expose `setValue` for `FormsyText` which will wrap `TextField` `setValue` function and `setState` of controlled component instead of doing like that.

@rojobuffalo @mbrookes what do you think if we reopen this issue and revert that pull-request?

[2017-02-07 20:19] scrambled2k3 commented on #191
I am seeing this as well.  Using FormsyText, if you type into the input field some letters get missed unless you type really slowly.
[code]

[2017-02-09 02:14] rojobuffalo commented on #191
I probably merged something that I shouldn't have. Looking into it now.

[2017-02-09 02:19] rojobuffalo commented on #161
@codeaholicguy agreed. should we revert and tag v0.5.5 so @latest works?

[2017-02-09 02:59] codeaholicguy commented on #161
@rojobuffalo yes

[2017-02-09 14:00] yourse1f-yourorg commented on #177
I have been evaluating (trying to get started with) formsy-material-ui, and hit this error simply trying to run the [webpack example](https://github.com/mbrookes/formsy-material-ui/tree/master/examples/webpack-example)

I upgraded `package.json` with

    "formsy-react": "^0.18.1",
    "formsy-material-ui": "^0.5.4",

[2017-02-09 14:48] martinhbramwell opened #193 "Flawed example : "Warning: Unknown prop `menuItems` on <div> tag""
When running the example app, I get :

    Warning: Unknown prop `menuItems` on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop
        in div (created by TextField)
        in TextField (created by SelectField)
        in SelectField (created by FormsySelect)
        in FormsySelect (created by Main)
        in form (created by Formsy)
        in Fo

[2017-02-09 17:59] rojobuffalo commented on #193
I think that is a carry over from an older API. Now the menu items are passed in as children, but before I think they were passed in an array to that prop. Looks like that line should be removed. Feel free to submit that as a PR.

[2017-02-09 18:15] rojobuffalo commented on #191
#192 reverts these breaking changes. I just tagged and released v0.5.5 so @latest should be stable.

[2017-02-09 18:15] #191 closed

[2017-02-10 07:55] jackywhlee commented on #149
Is this bug being looked at? It's driving me nuts. And is there an ETA when formsy will support React 15.x+ ?

[2017-02-10 07:59] jackywhlee opened #194 "valid FormsyText will overwrite underlineFocusStyle border-color style with default color"
It seems that the style set inside underlineFocusStyle will be overwritten with default color when the FormsyText validation is passed. Very annoying bug since the default is bright blue.

Any workaround, or will I have to disable underline in the meantime?

Using :
"react": "15.4.2",
"formsy-material-ui": "^0.5.5",
"formsy-react": "^0.18.0",

[2017-02-13 02:38] jackywhlee commented on #194
Hello, is this issue being acknowledged?

[2017-02-13 02:50] jackywhlee commented on #194
To try and be helpful, adding this code in line 152 of app/Main.js inside the example code will let you see the bug:

underlineFocusStyle={{borderColor:'green'}}

You will see that when you click on the `Name` field, the color shows green (as material-ui intended). But when you enter text into this field, it turns **blue**, because formsy somehow defaults the color back to material-ui's blue color

[2017-02-13 17:34] SystemPanic opened #195 "FormsySelect not working properly on 0.5.5"
FormsySelect changes to wrong value.

Example code:

[code]

[2017-02-13 17:41] SystemPanic commented on #195
Is just onChange incorrect params ordering, works when change the order (event, value, index)

On Material-UI docs, onChange for SelectField is (event, index, value), so fix when possible or say in documentation.

[2017-02-13 17:41] #195 closed

[2017-02-13 22:40] mbrookes commented on #195
@SystemPanic It does say in the the docs: https://github.com/mbrookes/formsy-material-ui#events

Unfortunately Material-UI was slow to adopt that proposal.

[2017-02-14 18:20] rojobuffalo commented on #194
Just my initial thoughts because I don't have time to dig into this right now:
We recently accepted a change that added the `underlineStyle` and `underlineFocusStyle` props, see [here][1]. It probably has to do with `this.validationColor()` being checked for a value before deferring to `underlineStyle`. There might be a theme variable for material-ui that sets the validation color. So there may be

[2017-02-15 10:18] kdichev commented on #194
Guys this needs **attention**, lots of project use the lib in production. Bugs been happening for a while

[2017-02-15 16:53] rojobuffalo commented on #194
@kdichev your first sentence--there's no place for that here. This is an open source project, not a product that you paid for. Every bit of progress happens on a voluntary basis. If you're using this in production and a bug pops up that you don't think is being fixed quickly enough--dig into the library and offer some insight, a PR, or a question.

Aside from that, thanks for pointing out how to u

[2017-02-15 16:59] kdichev commented on #194
Hey I totally did not have an intend to sound like that, demanding... I'm a young dev so I don't know the codex. I'll checkout the source and try to fix it :)

[2017-02-16 09:30] jackywhlee commented on #194
Hey thanks for acknowledge the bug. I was worried I was the only one experiencing it since nobody else had raised the issue, as it seems to be quite damaging.

I don't have experience fixing libraries, but I'll follow this issue closely and hopefully learn how the eventual fix goes.

[2017-03-12 19:01] advance512 opened #199 "Support latest versions of formsy-react@^0.19.2 and material-ui@^0.17.0"
[code]

[2017-03-12 19:49] advance512 commented on #40
So, any update on this? A year or so has gone by, and still there is no clear-cut way on how to use formsy-material-ui's Select and whether `menuItems` is relevant, and what `selectFieldItems` is.

[2017-03-12 19:50] advance512 commented on #134
Update?

[2017-03-12 19:53] advance512 commented on #177
The example supplied by the project doesn't work. Doesn't make you feel very sure about choosing formsy-material-ui as your forms library, does it..

[2017-03-16 13:46] semiautomatix commented on #199
Seconded, I'm having issues and unsure if it's the formsy-react and material-ui versions

[2017-03-23 00:56] protoEvangelion commented on #68
Is there any update on this?  My forms are still pretty slow when typing in a text field...

[2017-03-23 01:00] protoEvangelion commented on #191
@rojobuffalo I'm noticing some bad lag when typing into a FormsyText field using v0.5.5.  Are you experiencing something similar?

[2017-03-23 02:41] rojobuffalo commented on #68
Are you using the latest version? It's not noticeably slowed down for my app.

[2017-03-23 02:42] rojobuffalo commented on #191
I'm not getting that anymore. Do you have a screenshot video or some code samples?

[2017-03-23 16:01] CarlosV89 opened #201 "Is Material-ui 1.0 alpha supported?"
Im getting this error when I try to use it, is there another version that has correct bindings for that version of material-ui?
[code]

[2017-03-23 16:57] protoEvangelion commented on #68
Yes I am using v0.5.5.  Thanks for the quick response :) I think it was an issue with my CPU because it is working fine now!

[2017-03-23 16:57] protoEvangelion commented on #191
I think it was an issue with my CPU because it is working fine now :)

[2017-03-23 18:15] leonardoss commented on #55
using react-starter-kit same problem until change change our BrowserSync config `ghostMode: false`

...and...worked... \o/

[2017-03-23 21:24] rojobuffalo commented on #201
Material UI 1.0 is still on alpha release. We're not going to chase supporting those quick iteration tags. Let's re-open when a stable version gets released.

[2017-03-23 21:24] #201 closed

[2017-03-23 21:25] rojobuffalo commented on #68
Ok, good to know.

[2017-03-25 19:15] rojobuffalo commented on #181
@charleskoehl is right. Use `onChange`.

[2017-03-25 19:15] #181 closed

[2017-03-27 18:46] hubgit commented on #102
The problem with having the Dialog buttons outside the form is that pressing Enter no longer submits the form when there's more than one text input.

The only workaround seems to be to add a hidden submit `button` to the form?

[2017-03-27 19:51] rojobuffalo commented on #102
@hubgit which element are you `focused` on when hitting the return key?

[2017-03-28 20:46] natorojr commented on #199
Is there an ETA for a fix?

[2017-03-30 21:38] hubgit commented on #102
@rojobuffalo the first of two text (FormsyText) inputs, in a form with no `button`.

[2017-03-30 21:51] rojobuffalo commented on #102
Thanks for the details. This doesn't sound like a common use-case. My opinion here is that what you're wanting should be achievable, but doesn't need to be written into this API. You should be able to get what you want by handling `onKeyPress`. We can leave it open though to see if other people want this behavior.

[2017-03-31 17:46] #199 closed

[2017-04-05 19:39] cristianocca opened #203 "File picker?"
What's the right way to build a file picker with this?
I haven't found anything so I'm using a File component from formsy-react-components but it doesn't go well with material-ui clearly.

[2017-04-05 23:43] mbrookes commented on #203
The Material-UI docs have an example of an input wrapped with a button as a file input: http://www.material-ui.com/#/components/flat-button, you could perhaps build on that with the formsy-material-ui input?

[2017-04-05 23:49] cristianocca commented on #203
I was expecting that to be implemented as part of formsy-material-ui just like the other basic inputs, so all the labels, error messages, and validation is performed without the need to manually do all of it.
Trying with the formsy-react-components <File/> somehow works but all the error and label styles are not material.

With what you suggest, would it easily integrate with all the formsy-materi

[2017-04-06 00:06] mbrookes commented on #203
@cristianocca Please understand that formsy-material-ui is just a compatibility wrapper for Material-UI form component. Material-UI doesn't provide a file component (beyond the example I linked to), so neither does this library.

[2017-04-06 00:06] #203 closed

[2017-04-10 14:38] krzykrucz commented on #127
Same as above.

[2017-04-10 16:28] rojobuffalo commented on #127
It's a default CSS rule applied by Firefox with the selector `:-moz-ui-invalid:not(output)`. Override with `box-shadow: none`

[2017-04-10 18:46] ulich opened #204 "requiredError on FormsySelect"
When I try to add the `requiredError` prop on a `FormsySelect`, I get this error:

[code]

I think the problem is that the `requiredError` prop is not declared here: https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsySelect.jsx#L45, thus it is in `{...rest}`, which is then passed down to `SelectField` etc.

[2017-04-10 19:56] mbrookes commented on #204
@ulich Are you able to try #205 ? (I edited it in the browser, so haven't tested).

[2017-04-10 21:34] cristianocca opened #206 "requiredError before form submit?"
Hello,

I'm wondering if it's possible to show the required error, even without submitting the form, normally the submit buttons are disabled until the form is valid, is this a bad design?
It would be great that the error is shown once the field is no longer pristine rather than also checking for form submitted, or at least have it as an option.

[2017-04-11 09:20] #204 closed

[2017-04-11 09:58] ulich commented on #204
thanks for the fast fix!

[2017-04-12 12:27] Vishal0203 opened #207 "Red box encircling the required fields on firefox"
There is an issue with required fields. Attaching a snapshot.

![screen shot 2017-04-12 at 5 56 56 pm](https://cloud.githubusercontent.com/assets/8856973/24957475/7673cbc0-1fa9-11e7-9373-015163fb4648.png)

[2017-04-12 12:33] mbrookes commented on #207
Dupe of #127

[2017-04-12 12:37] Vishal0203 commented on #207
@mbrookes thanks that solves

[2017-04-12 12:37] #207 closed

[2017-04-14 10:22] Sevelf opened #209 "FormsyDate 'width' style doesn't apply"
Hi,

I've wanted to change width for my FormsyDate component, but i can't. Meanwhile it works fine for FormsySelect or FormsyText.
[code]

[2017-04-18 11:16] Pgsuarez opened #210 "RadioGroup uses prop value instead of valueSelected"
Hi, I finnaly find the error that made my radio group to not respond to programmatical value changes.

Material-ui `RadioButtonGroup` have the prop `valueSelected`, used to control the component and change its value programmatically. This props don't work on formsy-material-ui  'FormsyRadioGroup' because it used `value` prop instead.

It's way confusing that change, I spent so much time to find it

[2017-04-22 08:22] charleskoehl opened #211 "FormsyAutoComplete no longer opens autocomplete menu (formsy-material-ui ^0.6.0)"
To repro, open package.json in the webpack-example, update to the latest formsy and material-ui dependencies, npm install, npm start, and go to localhost:3000. The autocomplete field no longer opens the autocomplete menu when you type a valid character such as "N" or "n".

Here are the dependencies I tried it with:
[code]

[2017-04-26 16:48] jskeate opened #212 "Writing tests"
I'm using Enzyme, and trying to write some tests for a form. Is there a good way to go about this? I'm trying to use `wrapper.find(<selector>).simulate('change', <args>)`, but that doesn't seem to do anything.

[2017-04-27 21:59] charleskoehl commented on #211
I've narrowed down the cause to line 69 of [FormsyAutoComplete.jsx](https://github.com/mbrookes/formsy-material-ui/blob/master/src/FormsyAutoComplete.jsx), which overwrites the onChange handler of material-ui/AutoComplete so that it can't open its menu. If I remove line 69, the menu opens when I type the beginning of a valid search string.

[2017-05-02 13:13] dahei opened #214 "Missing characters when fast typing in IE (Internet Explorer 11), poor performance on IE and Firefox. Related to updateImmediately"
The performance of FormsyText in InternetExplorer 11 (and also Firefox) is not very pleasant. When using a default FormsyText component and keep pressing a letter on the keyboard, the  characters appear one after another with distinct breaks between each character. A normal input (and also the original (un)controlled TextField component from material-ui) has no such lag and always feels responsive

[2017-05-08 10:45] josedesousa commented on #40
@advance512 Was having a similar issue. Not sure about menuItems, but I get FormsySelect to work by including 'react-tap-event-plugin', as seen in example:

https://github.com/mbrookes/formsy-material-ui/blob/master/examples/webpack-example/src/app/app.js

[2017-05-08 10:50] josedesousa commented on #209
Hey,

Seems the FormsyAutoComplete is also effected by this. In the following code the style property is ignored:

[code]

[2017-05-09 17:55] mjsevilla opened #216 "Support latest versions of formsy-react@^0.19.2 and material-ui@^0.18.0"
`formsy-material-ui@0.6.0 UNMET PEER DEPENDENCY material-ui@0.18.0`
`npm WARN formsy-material-ui@0.6.0 requires a peer of material-ui@^0.17.0 but none was installed.`

[2017-05-11 14:51] advance512 commented on #40
I gave up and used redux-form-material-ui instead.

[2017-05-16 10:53] umair-khanzada opened #217 "There is a way for bind onChange handler in FormsySelect"
How to bind onChange handler in FormsySelect ???

[2017-05-16 11:21] #217 closed

[2017-05-19 17:51] Dwardmr commented on #40
If anything, I know this is not directly related to the issue but it may come in handy, while handling the `onChange` prop for `FormsySelect` (in this case I'm implementing a `multiple` FormsySelect but it should work the same way without the `multiple`), on the callback function the values being parsed from the FormsySelect are passed via **`index` instead of `value`**. Different as to what is sh

[2017-05-20 09:28] massile commented on #177
Any update on this ?

[2017-05-27 23:06] rmoskal commented on #64
Any progress on this?

[2017-05-28 05:20] cristianocca opened #218 "FormsyDate endless render loop on IE 11"
`<FormsyDate
name="somename"
value={this.props.someDefaultValue}
/>`

When the above is used within a form, it causes the component that renders the form and the above to endlessly call to render when using IE 11.

I'm not sure if this is an issue with the implementation of FormsyDate or the actual Formsy-React component that it uses.

Edit: using:
"formsy-material-ui": "^0.6.0"
"formsy-react": "^

[2017-05-29 21:52] vesteinn commented on #134
Putting this at the top of my file (after install) solved it

[code]

See [http://www.material-ui.com/#/get-started/installation](http://www.material-ui.com/#/get-started/installation)

[2017-06-29 06:03] vincentwongso opened #221 "Checkbox checked property doesn't seems to work"
[code]

The checkbox supposed to be checked but it's not.

[2017-07-03 17:49] KazeSenoue commented on #221
Yeah, same issue with Radio buttons. They stopped working entirely randomly.

[2017-07-06 05:26] vincentwongso commented on #221
I get it to work by:
instead of using `checked="true"`, I use `value={true}`

[2017-07-16 05:53] hashwin commented on #216
Hi @mbrookes, any update on this?

[2017-07-17 13:14] tonysam opened #223 "How can we set default value for Formsy Select"

[2017-07-18 22:01] rojobuffalo commented on #223
@tonysam In the future, please refer questions like this to StackOverflow. The issue tracker is for bugs and features. To answer your question though, use the `value` prop on the Select component and set it equal to a `value` prop on one of its nested MenuItem elements.

[2017-07-18 22:01] #223 closed

[2017-07-18 22:05] rojobuffalo commented on #221
I think this is expected since we normalize the API to use a `value` prop. Might be a good idea though to patch it so that a `checked` prop sets the `value` to `true`.

[2017-07-18 22:06] rojobuffalo commented on #218
@cristianocca Did you try isolating the Formsy-React component to see if that's were the issue is coming from?

[2017-07-18 22:10] rojobuffalo commented on #216
This will be a top priority for tagging a new release this week.

[2017-07-18 22:11] #158 closed

[2017-07-18 22:13] rojobuffalo commented on #64
CC: #221

[2017-07-19 05:00] tonysam opened #224 "Is there a component for file upload?"
I want to know whether Formsy has an inbuilt file upload component.

[2017-07-19 05:27] rojobuffalo commented on #224
Idk, check the repo https://github.com/christianalfoni/formsy-react/

[2017-07-19 05:27] #224 closed

[2017-07-19 16:33] #177 closed

[2017-07-19 19:35] #216 closed

[2017-07-19 19:37] #193 closed

[2017-07-19 22:56] cristianocca commented on #218
Yes, no issues with just the material ui picker.

-------- Mensaje original --------
De: Ryan Blakeley <notifications@github.com>
Fecha: 18/7/17 19:07 (GMT-03:00)
Para: mbrookes/formsy-material-ui <formsy-material-ui@noreply.github.com>
Cc: Cristiano Coelho <cristianocca@hotmail.com>, Mention <mention@noreply.github.com>
Asunto: Re: [mbrookes/formsy-material-ui] FormsyDate endless render loop on I

[2017-07-19 23:11] rojobuffalo commented on #218
Hmm, did you try with `v0.6.1` that I published today? I didn't work on it but there might have been an incidental fix..?

[2017-07-20 04:46] cristianocca commented on #218
I can't really test anymore since this was some time ago and the code was changed and is no longer an issue.

-------- Mensaje original --------
De: Ryan Blakeley <notifications@github.com>
Fecha: 19/7/17 20:11 (GMT-03:00)
Para: mbrookes/formsy-material-ui <formsy-material-ui@noreply.github.com>
Cc: Cristiano Coelho <cristianocca@hotmail.com>, Mention <mention@noreply.github.com>
Asunto: Re: [mbro

[2017-07-20 04:57] rojobuffalo commented on #218
Ok, no problem.

[2017-07-20 04:57] #218 closed

[2017-07-20 13:04] scrambled2k3 opened #225 "FormsySelect onChange getting bypassed"
I just updated to version 0.6.1 it noticed the behavior of the FormsySelect onChange function has changed.  It appears that the callback parameters are now returning as (event, index, value) instead of (event, value, index) as they have been.

Diving in a little more, it looks like onChange is being past down to the SelectField component via the ...rest spread object so it is being called there (w

[2017-07-20 19:22] rojobuffalo commented on #225
Ok, thanks for raising the issue. Sounds like maybe an unintended side-effect of some changes made to upgrade the eslint configuration.

[2017-07-20 19:57] rojobuffalo commented on #225
I just pushed a patch to master. I wish I had time to write a proper test, but do you want to check to see if that patch works? I'll publish `v0.6.2` if you confirm that it's fixed.

[2017-07-21 12:33] scrambled2k3 commented on #225
Thanks @rojobuffalo, that does seem to fix it!

[2017-07-22 17:46] HelloEdit opened #226 "Support the incoming Material UI v1.0"
Hello,

What do you think of creating a new branch to support the beta and the new version of Material UI ?
I just realized that the existing code was incompatible with the current betas 😄

Anyway, thank for this wrapper !

[2017-07-22 21:03] rojobuffalo commented on #226
Good idea. Branch created https://github.com/rojobuffalo/formsy-material-ui/tree/dev/material-1.0

[2017-07-23 07:53] HelloEdit commented on #226
Thank for the branch, I'll see if I have time later to update the existing code. Why the code does not use the ES6 class system ?

[2017-07-24 15:53] rojobuffalo commented on #226
Doesn't use the ES6 class system because it depends on `Formsy.Mixin`. I don't know if they've put out a replacement for that which would be compatible with ES6 classes. If there is a way to upgrade, I'm open to it.

[2017-07-24 16:00] HelloEdit commented on #226
↪️@rojobuffalo

Hello,
Please take a look [here](https://github.com/christianalfoni/formsy-react/blob/master/API.md#formsyhoc)
So, what do you think now ? 😄

[2017-07-24 16:17] rojobuffalo commented on #226
👍 Looks like it's possible. I can't make it a personal priority right now, but if you want to run with it, I can answer questions and review PRs.

[2017-07-24 16:36] HelloEdit commented on #226
The challenge is interesting, I'll see what I can do !

[2017-07-25 22:23] HelloEdit commented on #226
Can you take a look on https://github.com/HelloEdit/formsy-material-ui/tree/feature/ES6 ? I started working on it, tell me what you think! 😄

[2017-07-30 12:58] mbrookes commented on #170
Closing as for now this project has been transferred to @rojobuffalo.

[2017-07-30 12:58] #170 closed

[2017-08-05 21:23] rojobuffalo commented on #136
Closed by #220

[2017-08-05 21:23] #136 closed

[2017-08-09 14:00] cristianocca opened #227 "Text field underline color broken after 0.6.1"
Upgrading 0.6.0 to either 0.6.1 or 0.6.2 makes the underline color of text fields to switch from the actual color (ie blue) to black as long as there's input inside.

I thought it was an issue with material-ui initially but I'm not sure, looks more like an issue from this library since it only happens after updating this.

![1](https://user-images.githubusercontent.com/8573267/29125330-e07ff516-7c

[2017-08-09 16:11] cristianocca opened #228 "FormsyText with type="number" bad behavior"
Using material-ui TextField with type="number" correctly prevents the input from loading non numeric values, just like native inputs that supports it (firefox, chrome).

However, when using it with formsy-material-ui, the input still allows non numeric values to be typed, and they are displayed on the input, although it looks like the value never gets validated and always end up as an empty value,

[2017-08-10 02:42] rickyfitts opened #230 "FormsyAutoComplete does not use provided default value"
When I provide a defaultValue prop to FormsyAutoComplete the value does not get rendered. I think this is because of line [82 in FormsyAutoComplete.jsx](https://github.com/rojobuffalo/formsy-material-ui/blob/b5cd1db9ef9cf74463d35e56ffd72e8ea08c90e6/src/FormsyAutoComplete.jsx#L82) and I believe it would be fixed if `value={this.state.value}` is changed to `searchText={this.state.value}`.

This is w

[2017-08-12 17:59] #225 closed

[2017-08-12 18:37] rojobuffalo commented on #228
I just tested plain Material UI in Firefox with `type="number"` and it was letting alphabetic characters through. How did you test it?

[2017-08-12 18:42] rojobuffalo commented on #230
That sounds like the right fix. It looks like the `AutoComplete` component from Material sets value on it's own via that `searchText` prop.

[2017-08-12 18:53] rojobuffalo commented on #227
I'm not seeing this issue in the [example][1] or in my app where I use this component with custom colors. Could you confirm whether or not it shows up when you run the example?

Just for reference, the three props that control underline color are:
- `validationColor`
- `underlineStyle`
- `underlineFocusStyle`

... seen [here][2].

[1]: https://github.com/rojobuffalo/formsy-material-ui/tree/master/

[2017-08-12 19:31] cristianocca commented on #228
Hmm, that's odd, I'm sure I tested it on firefox and edge and it worked, but I can't reproduce it anymore, it always lets non numeric values to be entered, it doesn't matter if I use TextField or even plain input components. Sorry for the false report.

[2017-08-12 19:39] cristianocca commented on #227
The example seems to use material-ui 0.16 and formsy-material-ui 0.5, after upgrading to 0.6.2 it was already enough to reproduce the issue, below is the screenshot from the example code after upgrading the library.

![capture](https://user-images.githubusercontent.com/8573267/29243731-d07bcc3e-7f7c-11e7-946c-ddbc135fca08.PNG)

Also, I'm not using any of the custom underline or validation color pr

[2017-08-12 19:43] rojobuffalo commented on #228
No worries. I like the Chrome behavior of only allowing numeric characters, but I guess it isn't standard across browsers. If you want to enforce something like that, you could probably get there with [`convertValue`][1].

[1]: https://github.com/rojobuffalo/formsy-material-ui/blob/master/src/FormsyText.jsx#L12

[2017-08-12 19:43] #228 closed

[2017-08-13 00:15] rojobuffalo commented on #227
Ok, thanks for pointing that out. I will have a look tomorrow.

[2017-08-15 17:36] heliojuniorkroger commented on #227
Something new?

[2017-08-19 00:48] rojobuffalo commented on #227
Confirmed in the example after bumping deps that this black underline issue shows up, but only on the "Name" input. It looks like the error only shows up when `validations` is set to `"isWords"`. Could you confirm if that is your use case @cristianocca?

[2017-08-19 00:59] rojobuffalo commented on #227
@cristianocca would you please share how you're doing the material ui theme config?

[2017-08-19 01:24] cristianocca commented on #227
@rojobuffalo I'm not doing anything special, for the example code I didn't modify anything at all, simply updated the dependency and ran it and the issue was there.

Here's an example of actual code I use, maybe it helps.

[code]

[2017-08-19 03:32] rojobuffalo commented on #227
I think I found the fix. The older `createClass` React API, which FormsyText uses, should have a method `getDefaultProps` instead of a static property `defaultProps` as an object. Please try installing from the HEAD of the master branch and confirm if that fixes it for you.

[2017-08-19 20:57] cristianocca commented on #227
I can't seem to make it work when installing directly from git (npm install git+https://github.com/rojobuffalo/formsy-material-ui) do I need an additional compile step?

[2017-08-31 01:09] andrewstoneameritech commented on #227
`"formsy-material-ui": "^0.6.0",
    "formsy-react": "^0.19.5",`

Also suffering from this problem. It's making this unusable :(

[2017-09-01 06:55] HelloEdit commented on #226
This is the end of my contribution, unfortunately! I created a pull request with the code of the transition to ES6, it is not complete but the hardest was made!

[2017-09-02 19:15] rojobuffalo commented on #227
Just published `v0.6.3` that fixes this.

[2017-09-02 19:15] #227 closed

[2017-09-05 00:44] aebmknrl opened #234 "FormsySelect required is not showing any error when submit the form"
Hi, i need to show a messge when the user hits the submit button and a value on the FormsySelect are not selected (similar to a text field behavior).

If i use:

`                                        validationErrors={{
                                            isDefaultRequiredValue: "Your error message when field is required",
                                        }}`

The error is displa

[2017-09-05 14:56] dahei commented on #214
I've updated to the latest formsy-material-ui@0.6.3 and it's peer dependencies (react@^15.6.1 etc.) Fortunately, the described issue is gone and `FormsyText` with `updateImmediately` works as expected on Internet Explorer 11.

React 15.6.x solved a lot of IE 11 related bugs (https://facebook.github.io/react/blog/2017/06/13/react-v15.6.0.html) - maybe that solved that problem as well.

tl;dr: This

[2017-09-05 15:45] #214 closed

[2017-09-05 15:55] rojobuffalo commented on #234
Use the `required` prop along with `requiredError`. `validationError` pairs with the prop `validations`.

[2017-09-05 15:59] aebmknrl commented on #234
Hi, thanks a lot for your great work and for read this. I'm a fraid that i don´t understand. Can you please give me a short sample?

[2017-09-05 18:00] rojobuffalo commented on #234
Instead of
[code]

use
[code]

[2017-09-05 18:38] aebmknrl commented on #234
This show a error:

`Unknown prop `requiredError` on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop...`

[2017-09-06 23:49] aebmknrl commented on #234
@rojobuffalo can you help me please? :(

[2017-09-07 00:59] rojobuffalo commented on #234
@aebmknrl The error you're seeing is just something we need to patch by deconstructing `required` from `props`. There are other vars deconstructed here: https://github.com/rojobuffalo/formsy-material-ui/blob/master/src/FormsySelect.jsx#L43, then `...rest` gets passed to the Material component. If we add `required` there, it won't get passed through to a `<div>` and that warning will go away.

Befo

[2017-09-07 01:07] aebmknrl commented on #234
Is not breaking the code, just a warning. The only strange thing that i see is this:

This field is mark as required...
Now, on `Formsy.Form` component i have:

[code]

This form only will be submited if is valid... but, if i left my FormsySelect without any value, then the form is submited too. Very strange.

[2017-09-07 12:46] fenec opened #235 "Remove FormsyAutoComplete support?"
Since Material-UI drops AutoComplete support in v1 and encourages to use other libs, maybe it makes sense to remove FormsyAutoComplete component?

[2017-09-09 02:40] rojobuffalo commented on #235
I'm not using it anywhere so I would have no problem dropping it for v1 compatibility. But if anyone would object that, this is place to weigh in.

[2017-09-09 02:45] rojobuffalo commented on #234
@aebmknrl ok, good to know. It's possible that support for `required` on a Select component was intentionally left off at one point. But I see no reason why we can't patch it. PRs welcome. I can't look at it right away, but will get around to it if no one submits a PR.

[2017-09-09 03:10] aebmknrl commented on #234
Well... i would really like to help you with a PR, but i'm affraid that i will messed up your great code xD
I hope that you can help me with this soon. Please, don't forgett me @rojobuffalo. And thanks a lot for you attention.

[2017-09-22 13:00] ekv88 opened #236 "Warning: getDefaultProps"
Since 15.6.* React this error is showing up. Time to update.

[2017-10-21 07:22] maricttp opened #238 "FormsySelect does not change underline color when selected"
Hi, I have problem with FormsySelect component, namely FormsySelect change underline color to red when there is an error and I want to change color when option from the dropdown list is selected, however I can not accomplish that by setting underlineStyle. Is there any additional property that would provide this possibility for FormsySelect.

I’m using formsy-material-ui version 0.6.3.

For exampl

[2017-11-08 20:52] bill-crombie commented on #209
Use textFieldStyle for FormsyDate

[2017-11-20 20:58] aebmknrl opened #240 "Not working with React 16.1.1"
Right now i receive this error:

[code]
![image](https://user-images.githubusercontent.com/5152002/33041199-e63d0868-ce13-11e7-9ec1-5df50c8d5bf4.png)

This are my dependencies:

[code]

Can you help me please? Thanks a lot for your hard work.

[2017-11-21 18:13] mmakarios opened #241 "Support new Formsy"
Formsy has been updated and migrated to a new repository: https://github.com/formsy/formsy-react.

The new version [1.0.1](https://github.com/formsy/formsy-react/releases/tag/v1.0.1) deprecates mixins and replaces them with the higher-order component `withFormsy`.

[2017-11-29 18:11] cauld commented on #240
I ran into this as well. While create-react-class is listed as a peerDependency in formsy-material-ui's package.json file it wasn't being added in my project during a standard `npm install`. Doing a manual ` npm install create-react-class` solved this for me temporary workaround.

[2017-12-17 02:34] AudioVitamins opened #242 "Incorrect directory"
I am getting a build error

formsy-material-ui/lib/FormsyAutoComplete.js
33. var _utils = require('formsy-react/src/utils');

should the correct path be changed to

 './utils'

or should this module be deleted now that MU has moved away from autocomplete?

[2017-12-18 17:43] rojobuffalo commented on #242
I don't think it would be `./utils`, since this is pulling in utils from the formsy-react project, not this one (formsy-material-ui). But it might make more sense to be importing from `lib` rather than `src`. I can't think of a reason not to switch that to `formsy-react/lib/utils`, can you?

Just for the sake of completion, what versions of formsy-material-ui, formsy-react, and material-ui do you

[2017-12-22 02:18] Fandekasp opened #243 "Support formsy-react v1.1.2"
Please upgrade formsy-material-ui  to support formsy-react v1.1.2, so we can finally use React v16. This is the only package that prevents us from upgrading atm

Related to #240

[2017-12-24 21:39] g0dzill3r opened #244 "FormsyDate and FormsyTime don't handle value argument properly"
Using the value={} property doesn't behave properly in initializing the value of the date and time picker. It results in a :Uncaught (in promise) TypeError: Cannot read property '_currentElement' of null:

Using the underlying DatePicker or TimePicker with the same arguments works properly.

<img width="826" alt="screen shot 2017-12-24 at 1 37 02 pm" src="https://user-images.githubusercontent.com/

[2017-12-24 22:20] #244 closed

[2018-01-04 16:21] JesseRWeigel commented on #242
I was able to get rid of this error by changing line 33 in formsy-material-ui/lib/FormsyAutoComplete.js from ```var _utils = require('formsy-react/src/utils');``` to ```var _utils = require('formsy-react/lib/utils');```

I am not using autocomplete, so I am not sure if this actually fixes anything or just gets rid of the error message.

[2018-01-05 08:12] Fandekasp commented on #243
Is this repository not maintained anymore ?

[2018-01-10 10:59] giuliogallerini commented on #181
For anyone who is still having this problem, I found a work around by adding a wrapper around the `<Toggle />` and binding to it the event.

[code]
Hope this helps!

[2018-01-31 18:28] maisumbruno commented on #226
@rojobuffalo Is compatible with material-ui@v1-beta? How do I use it?

[2018-02-23 02:59] timothyallan commented on #242
Yep, modifying line 33 works for me too. Just remember to do it every time you have to nuke your node_modules folder 📆

[2018-02-25 04:13] iDVB commented on #242
Has a contributer looked into this issue yet?

[2018-03-06 04:11] DevJulianSalas commented on #242
I have faced the same error too.

Module not found: Can't resolve 'formsy-react/src/utils' in '/app/node_modules/formsy-material-ui/lib'

[code]

[2018-03-14 02:33] siriwatknp opened #245 "FormsyText cannot accept value 0"
when FormsyText accept new value = 0 it turn into ""
I believe that this part of the code is the root cause
[code]
I think you should validate props.value before because 0 will be skipped to next variable instead of props.value

[2018-03-19 16:37] babs100 opened #246 "Not compatible"
"formsy-material-ui": "^0.6.3",

and

 "formsy-react": "^1.1.4",

throws Error when use
<Formsy.Form>
....
</Formsy.Form>

[2018-04-12 12:43] andrewlorenz commented on #246
try <Formsy></Formsy> - i.e. drop the .Form.  This is a (subtle) change from previous versions, the new syntax is documented, but the need to change it isn't very well signposted!

[2018-04-12 13:02] andrewlorenz opened #247 "not compatible with React 16.3.1"
I'm getting a Uncaught TypeError: this.setValue is not a function when I try to use <FormsyText /> within a <Formsy> form on React 16.3.1

npm list shows this:

npm ERR! peer dep missing: react@^15.6.1, required by formsy-material-ui@0.6.3
npm ERR! peer dep missing: react-dom@^15.6.1, required by formsy-material-ui@0.6.3

So I'm assuming that formsy-material-ui hasn't been tested past React 15 ..

[2018-04-12 13:06] andrewlorenz commented on #243
given its now 12th April, its not looking good @Fandekasp 👎

[2018-04-12 14:55] andrewlorenz commented on #243
I've just managed to completely bypass the use of this (now unsupported) module simply by using the `withFormsy` HOC available from the `formsy-react` component.  This passes in the necessary prop-based methods of  `getValue` and `setValue` to hook yourself manually into the Formsy form.  It took a little bit of rejigging, but not much really.  There is a very good example of how to use withFormsy

[2018-05-05 03:28] cristianocca commented on #243
Is this still maintained? Any chance someone wrote this with formsy-react 1.x?

[2018-05-05 18:47] cristianocca opened #248 "Accept a list of validation errors?"
Currently, although validation errors (mostly server side ones) can be a list, and is properly handled by the getErrorMessages() method of the element, such list is never used to produce the error text, but instead the single message one is used (getErrorMessage()).

Since material UI accepts any element as the errorText property, it would be nice to use the error list rather than a single message

[2018-06-03 06:05] cristianocca commented on #238
Did you find out how to solve this? I'm having the same issue.

[2018-06-09 16:59] logemann commented on #247
Can be. I am also on React 16 and my error says that this libs want "create-react-app" as library. Of course its no dependency per NPM and it just tries to require it in the code. Wont go further with this lib. Seems not maintained anymore.

[2018-08-18 19:54] sanathp commented on #226
Waiting for this release

[2018-09-12 09:05] robbyemmert opened #249 "Is This Project Maintained?"
The last commit was about a year ago. Is this project still being maintained, or should we look elsewhere for Material UI Formsy components?

Thanks!

[2018-09-12 09:18] mbrookes commented on #249
Unfortunately not. (It would help if it was archived @rojobuffalo ).

Here are some alternatives:
- https://www.npmjs.com/package/react-material-ui-form-validator
- https://redux-form.com/6.6.2/examples/material-ui/
- https://github.com/foxhound87/mobx-react-form

[2019-04-05 07:58] ea167 commented on #249
For compatibility with React 16, there is a fork here:
https://www.npmjs.com/package/formsy-material-ui-react16

Kudos to @GHermet et @martin-bb

[2020-11-30 16:24] rkuykendall commented on #249
@rojobuffalo Would you consider transferring this project and NPM control to the Formsy organization for further development?

[2020-11-30 17:54] mbrookes commented on #249
@rkuykendall So much has changed with both React and Material-UI since this was last updated that you're probably better off just starting from scratch (with this as reference if it's helpful).

[2020-11-30 22:05] rojobuffalo commented on #249
@rkuykendall hi, yes I'd be happy to transfer. having said that, i'd agree with @mbrookes. these days my go-to library for dealing with forms in react is formik https://formik.org/. my apologies for leaving this unattended.

[2020-11-30 22:11] rojobuffalo commented on #249
i could transfer or archive this repo. once it is archived we lose the ability to comment on issues like this one. still something we can do, but maybe after a ~one month delay so there's an opportunity to comment.

[2020-11-30 22:21] mbrookes commented on #249
A transfer is nicer in a couple of ways, in that it maintains some history, even if the update is a complete rewrite. And anyone coming across a link to this repo will get redirected to its new location. (TBH I didn't know Formsy was still maintained until this popped up!)

[2020-12-01 15:42] rkuykendall commented on #249
I think the biggest perks of a transfer-with-redirect would be getting all the users searching for "Formsy Material UI" immediately and letting them know we are working on this implementation and open to help. Based on the issues and pull requests, this was a pretty popular Formsy implementation, so I bet it's still getting traffic. We cloned instead of transferring from `christianalfoni/formsy-re

[2020-12-03 02:22] mbrookes commented on #249
"Make it so"

[2020-12-03 03:55] rojobuffalo commented on #249
@rkuykendall I just attempted to transfer to the formsy organization but got an error:
![image](https://user-images.githubusercontent.com/3956993/100961973-a4f88080-34e0-11eb-9539-50d5383803dc.png)

[2020-12-03 16:02] rkuykendall commented on #249
I've invited you both to the organization. This should allow @rojobuffalo to make the transfer, and adding [rkuykendall](https://www.npmjs.com/~rkuykendall) to the npm project should allow me to publish. @mbrookes you're welcome to join or not, you'll still be credited in the readme regardless. And same to you @rojobuffalo, feel free to drop the org once the transfer is complete if you'd like.

[2020-12-07 03:12] rojobuffalo commented on #249
@rkuykendall i just transferred the repo and added you to the npm package. thanks for taking it on. feel free to tag me on any PRs if I can help

[2020-12-07 03:12] #249 closed

[2021-04-04 01:08] rkuykendall commented on #249
Hey @mbrookes! I'm ready to do the first new release of `formsy-material-ui` (just infrastructure improvements so far, but looking good) and it doesn't appear I have publish rights on [the NPM project on npmjs.com](https://www.npmjs.com/package/formsy-material-ui). As far as I can tell, I'm not on the project at all. Would you mind double checking?

[2021-04-04 01:31] rkuykendall commented on #249
( also tagging @rojobuffalo because I you might also have the ability to add me to the npmjs.com package )

[2021-04-04 16:04] rkuykendall commented on #212
Closing as tests have been re-written to use modern enzyme and I assume @jskeate has many years ago either solved their problem or moved on :)

Sorry your issue went un-answered. If you're interested in working with Formsy and Material UI again please reach out, we are looking for contributors.

[2021-04-04 16:04] #212 closed

[2021-04-04 16:19] #242 closed

[2021-04-04 16:21] rkuykendall commented on #242
There was never a `setMuiComponentAndMaybeFocus` component in `formsy-react`. Mostly due to `Mui` referring to Material UI which is not something `formsy-react` is involved with. For now I have changed this to use the `setMuiComponentAndMaybeFocus` utility in utils, as every single other component does.

If any active MUI user has an opinion on if the Autocomplete Labs component should be removed

[2021-04-18 17:44] ryanblakeley commented on #249
@rkuykendall hey i sent you an invite to publish on npm